Repository team-da-sh/dash-client, pull requests merged in 2025-03, with the labels that each got.

#324 [Refactor] 배럴 파일 삭제 작업
  public/images/image_chorehong.jpeg
  public/images/image_genre_breaking.png
  public/images/image_genre_choreo.png
  public/images/image_genre_femalehiphop.png
  public/images/image_genre_hiphop.png
  public/images/image_genre_house.png
  public/images/image_genre_kpop.png
  public/images/image_genre_krump.png
  public/images/image_genre_locking.png
  public/images/image_genre_popping.png
  public/images/image_genre_soul.png
  public/images/image_genre_voguing.png
  public/images/image_genre_waacking.png
  public/images/image_kkukgirl.jpg
  public/images/image_profile_basic.png
  public/images/img_banner_750.png
  src/pages/class/components/ClassButtonWrapper/ClassButtonWrapper.tsx
  src/pages/class/components/ClassHeader/ClassHeader.tsx
  src/pages/class/components/ClassInfoWrapper/ClassInfoWrapper.tsx
  src/pages/class/components/TabWrapper/TabLevel/TabLevel.tsx
  src/pages/class/components/TabWrapper/TabLocation/TabLocation.tsx
  src/pages/dancer/components/DancerHeader/DancerHeader.tsx
  src/pages/dancer/components/DancerInfo/DancerInfo.tsx
  src/pages/error/Error.tsx
  src/pages/home/components/BottomSection/BottomSection.tsx
  src/pages/home/components/Footer/Footer.tsx
  src/pages/home/components/HomeCarousel/HomeCarousel.tsx
  src/pages/home/components/HomeHeader/HomeHeader.tsx
  src/pages/home/components/SliderItem/SliderItem.tsx
  src/pages/home/components/TopSection/TopSection.tsx
  src/pages/home/constants/index.tsx
  src/pages/instructor/classRegister/components/ClassPlace/ClassPlace.tsx
  src/pages/instructor/classRegister/components/ClassRepresentImage/ClassRepresentImage.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/ClassSchedule.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/TimeControl/TimeControl.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/CareerStep.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/InputSection/InputSection.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/ImageUploadStep/ImageUploadStep.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/PersonalSNSStep/PersonalSNSStep.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/VideoLinkStep/VideoLinkStep.tsx
  src/pages/login/components/KakaoButton/KakaoButton.tsx
  src/pages/onboarding/components/OnboardingFunnel/OnboardingFunnel.tsx
  src/pages/onboarding/components/ProfileStep/ProfileStep.tsx
  src/pages/onboarding/mocks/index.ts
  src/pages/reservation/Reservation.tsx
  src/pages/reservation/components/AgreeCheckBox/AgreeCheckBox.tsx
  src/pages/search/components/SearchBar/SearchBar.tsx
  src/pages/search/components/SearchIntro/SearchIntro.tsx
  src/pages/search/components/TabContainer/TabContainer.tsx
  src/pages/search/components/TabContainer/TagSection/TagSection.tsx
  src/pages/search/constants/index.tsx
  src/routes/router.tsx
  src/shared/assets/images/index.ts
  src/shared/assets/svg/index.ts
  src/shared/components/ClassCard/ClassCard.tsx
  src/shared/components/Header/Header.tsx
  src/shared/constants/index.tsx
  src/stories/Tag.stories.tsx
Labels: 🪄 Refactor, 건휘

#327 [Refactor] flex 컴포넌트 리펙토링
  package.json
  pnpm-lock.yaml
  src/pages/home/components/PopularDancers/PopularDancers.tsx
  src/pages/home/components/RecommendationLessons/RecommendationLessons.tsx
  src/pages/login/Login.tsx
  src/shared/styles/sprinkles.css.ts
Labels: 🪄 Refactor, 규홍

#331 [Fix] Input 공통 컴포넌트 focus 문제 해결
  .storybook/preview.ts
  src/shared/components/Input/Input.tsx
  src/shared/components/Input/input.css.ts
  src/shared/styles/global.css.ts
  src/stories/Input.stories.tsx
Labels: 🔧 Fix, 진혁

#333 [Refactor] Search 페이지 Debounce 적용
  src/pages/search/Search.tsx
  src/pages/search/apis/queries.ts
  src/pages/search/components/SearchBar/SearchBar.tsx
  src/pages/search/utils/searchHandlers.ts
  src/shared/hooks/useDebounce.ts
Labels: 🪄 Refactor, 희선

#334 [Refactor] svg lazy 적용
  src/pages/class/components/TabWrapper/TabLevel/TabLevel.tsx
  src/pages/class/components/TabWrapper/TabLocation/TabLocation.tsx
  src/pages/error/Error.tsx
  src/pages/home/Home.tsx
  src/pages/home/components/HomeCarousel/HomeCarousel.tsx
  src/pages/home/components/HomeHeader/HomeHeader.tsx
  src/pages/home/components/TopSection/TopSection.tsx
  src/pages/onboarding/components/OnboardingFunnel/OnboardingFunnel.tsx
  src/pages/onboarding/components/ProfileStep/ProfileStep.tsx
  src/pages/onboarding/mocks/index.ts
  src/pages/reservation/mocks/mockMyReservationData.ts
  src/shared/constants/index.tsx
Labels: 🪄 Refactor, 수정

#341 [Refactor] Input 공통 컴포넌트 설계 변경
  src/pages/instructor/classRegister/ClassRegister.tsx
  src/pages/instructor/classRegister/components/ClassAmount/ClassAmount.tsx
  src/pages/instructor/classRegister/components/ClassAmount/classAmount.css.ts
  src/pages/instructor/classRegister/components/ClassPersonnel/ClassPersonnel.tsx
  src/pages/instructor/classRegister/components/ClassPersonnel/classPersonnel.css.ts
  src/pages/instructor/classRegister/components/ClassPlace/ClassPlace.tsx
  src/pages/instructor/classRegister/components/ClassPlace/classPlace.css.ts
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/InputSection/InputSection.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/careerStep.css.ts
  src/pages/instructorRegister/components/InstructorRegisterFunnel/VideoLinkStep/VideoLinkStep.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/VideoLinkStep/videoLinkStep.css.ts
  src/pages/search/components/SearchBar/SearchBar.tsx
  src/pages/search/components/SearchBar/searchBar.css.ts
  src/shared/components/Input/Input.tsx
  src/shared/components/Input/input.css.ts
Labels: 🪄 Refactor, 진혁

#343 [Setting] Kakao Redirect URI env로 변경 & prod 환경 분리
  src/pages/auth/auth.ts
  src/pages/login/components/KakaoButton/KakaoButton.tsx
Labels: ⚙️ Setting, 진혁
