Repository team-da-sh/dash-client, pull requests merged in 2025-09, with the labels that each got.

#511 [Feat] sp3 클래스 상세뷰 리뷰 관련 수정 반영
  src/pages/class/components/ClassInfoWrapper/ClassInfoWrapper.tsx
  src/pages/class/components/TabWrapper/TabWrapper.tsx
  src/shared/constants/index.tsx
Labels: 🛠️ Feature, 수정

#520 [Feat] 클래스 수강 목록 취소하기 로직 연결
  src/common/components/Dropdown/style.css.ts
  src/pages/mypage/components/mypageCancelClass/MypageCancelClass.tsx
  src/pages/mypage/components/mypageReservation/components/ReservationList.tsx
  src/pages/mypage/utils/clickUtils.ts
  src/shared/constants/apiURL.ts
Labels: 🛠️ Feature, 건휘

#497 [Feat] modal 구현
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/common/components/Dropdown/Dropdown.tsx
  src/common/components/Dropdown/dropdown.css.ts
  src/common/components/Modal/Modal.tsx
  src/common/components/Modal/ModalLayout.tsx
  src/common/components/Modal/modal.css.ts
  src/common/stores/modal.ts
  src/pages/mypage/components/mypageReservation/MypageReservation.tsx
  src/shared/components/ModalProvider/ModalProvier.tsx
  src/shared/styles/theme.css.ts
  src/shared/utils/randomId.ts
  src/stories/Dropdown.stories.tsx
  src/stories/Modal.stories.tsx
Labels: 🛠️ Feature, 규홍

#518 [Feat] 내 클래스 관리 내역 UI (강사) 뷰 구현 및 api 연결
  src/pages/instructor/classDetail/apis/axios.ts
  src/pages/instructor/classList/ClassList.tsx
  src/pages/instructor/classList/apis/axios.ts
  src/pages/instructor/classList/apis/queries.ts
  src/pages/instructor/classList/types/api.ts
  src/pages/instructor/lessonList/LessonList.tsx
  src/pages/instructor/lessonList/apis/axios.ts
  src/pages/instructor/lessonList/apis/queries.ts
  src/pages/instructor/lessonList/lessonList.css.ts
  src/pages/instructor/lessonList/types/api.ts
  src/pages/instructor/lessonList/types/lessonStatus.ts
  src/pages/instructor/lessonManage/LessonManage.tsx
  src/pages/instructor/lessonManage/lessonManage.css.ts
  src/pages/mypage/components/mypageReservation/MypageReservation.tsx
  src/routes/router.tsx
  src/shared/constants/apiURL.ts
  src/shared/constants/queryKey.ts
  src/shared/types/lessonTypes.ts
Labels: 🛠️ Feature, 규홍

#494 [Feat] sp3 온보딩 인증번호 구현
  src/pages/onboarding/Onboarding.tsx
  src/pages/onboarding/apis/axios.ts
  src/pages/onboarding/apis/queries.ts
  src/pages/onboarding/components/FinishStep/FinishStep.tsx
  src/pages/onboarding/components/FinishStep/finishStep.css.ts
  src/pages/onboarding/components/InfoStep/InfoStep.tsx
  src/pages/onboarding/components/InfoStep/infoStep.css.ts
  src/pages/onboarding/components/OnboardingHeader/OnboardingHeader.tsx
  src/pages/onboarding/components/OnboardingHeader/onboardingHeaderStyle.css.ts
  src/pages/onboarding/components/ProfileStep/ProfileStep.tsx
  src/pages/onboarding/components/ProfileStep/profileStep.css.ts
  src/pages/onboarding/components/SubmitButton/SubmitButton.tsx
  src/pages/onboarding/constants/index.ts
  src/pages/onboarding/hooks/useVerificationTimer.ts
  src/pages/onboarding/types/onboardInfoTypes.ts
  src/pages/onboarding/utils/validate.ts
  src/shared/components/Toast/Toast.tsx
  src/shared/constants/regex.ts
Labels: 🛠️ Feature, 희선

#535 [Feat] 클래스 신청 API
  src/pages/class/components/TabWrapper/TabLevel/TabLevel.tsx
  src/pages/reservation/Reservation.tsx
  src/pages/reservation/apis/axios.ts
  src/pages/reservation/apis/queries.ts
  src/pages/reservation/components/ConfirmationStep/ConfirmationStep.tsx
  src/pages/reservation/components/ConfirmationStep/confirmationStep.css.ts
  src/pages/reservation/components/ReservationStep/ReservationStep.tsx
  src/pages/reservation/reservation.css.ts
  src/pages/reservation/types/api.ts
  src/shared/constants/apiURL.ts
  src/shared/types/api.ts
Labels: 🛠️ Feature, 수정

#537 [Deploy] SP3 개발 1차 QA main 반영 (배포) - 클래스 신청 API 추가
  src/pages/class/components/TabWrapper/TabLevel/TabLevel.tsx
  src/pages/reservation/Reservation.tsx
  src/pages/reservation/apis/axios.ts
  src/pages/reservation/apis/queries.ts
  src/pages/reservation/components/ConfirmationStep/ConfirmationStep.tsx
  src/pages/reservation/components/ConfirmationStep/confirmationStep.css.ts
  src/pages/reservation/components/ReservationStep/ReservationStep.tsx
  src/pages/reservation/reservation.css.ts
  src/pages/reservation/types/api.ts
  src/shared/constants/apiURL.ts
  src/shared/types/api.ts
Labels: 진혁, 🌈 Deploy

#536 [Feat] 수강생 관리 뷰 구현
  src/main.tsx
  src/mocks/data/instructor.ts
  src/mocks/handler/index.ts
  src/mocks/handler/instructor.ts
  src/pages/class/components/ClassInfoWrapper/ClassInfoWrapper.tsx
  src/pages/class/types/api.ts
  src/pages/instructor/classDetail/ClassDetail.tsx
  src/pages/instructor/classDetail/apis/axios.ts
  src/pages/instructor/classDetail/apis/queries.ts
  src/pages/instructor/classDetail/classDetail.css.ts
  src/pages/instructor/classDetail/components/StudentCard/StudentCard.tsx
  src/pages/instructor/classDetail/components/StudentCard/studentCard.css.ts
  src/pages/instructor/classDetail/components/StudentList/StudentList.css.ts
  src/pages/instructor/classDetail/components/StudentList/StudentList.tsx
  src/pages/instructor/classDetail/types/api.ts
  src/pages/instructor/lessonList/LessonList.tsx
  src/pages/instructor/lessonList/lessonList.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/TeacherLessons/TeacherLessons.tsx
  src/pages/mypage/components/mypageReservation/MypageReservation.tsx
  src/pages/mypage/components/mypageReservation/components/ReservationList.tsx
  src/shared/components/ApplyTag/ApplyTag.tsx
  src/shared/components/ApplyTag/applyTag.css.ts
  src/shared/components/BoxButton/BoxButton.tsx
  src/shared/components/BoxButton/boxButton.css.ts
  src/shared/constants/apiURL.ts
  src/shared/types/myPageLessonDetailTypes.ts
Labels: 🛠️ Feature, 규홍

#547 [Design] 클래스 상세보기 레이아웃 수정, 클래스 개설 플로팅 버튼 수정
  src/pages/mypage/components/TabWrapper/components/TeacherContent/teacherContent.css.ts
  src/pages/mypage/components/mypageReservationDetail/mypageReservationDetail.css.ts
Labels: 🎨 Design, 희선

#545 [Fix] 마감 기한 지난 클래스 Tag 컴포넌트 비노출처리
  src/pages/home/components/LessonItem/LessonItem.tsx
  src/pages/home/constants/index.tsx
Labels: 🔧 Fix, 희선

#548 [Refactor] 개발 qa - 규홍
  src/pages/instructor/classDetail/components/StudentCard/StudentCard.tsx
  src/pages/mypage/components/mypageReservation/components/ReservationList.tsx
  src/pages/mypage/components/mypageReservationDetail/MypageReservationDetail.tsx
  src/pages/mypage/components/mypageReservationDetail/types/api.ts
  src/shared/utils/timeUtils.ts
Labels: 🪄 Refactor, 규홍
