Repository team-da-sh/dash-client, pull requests merged in 2025-01, with the labels that each got.

#9 [setting] Vanila Extract 초기세팅 및 모바일 뷰 세팅
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/.keep
  src/components/Button/index.css.ts
  src/components/Button/index.tsx
  src/components/Card/index.css.ts
  src/components/Card/index.tsx
  src/styles/.keep
  src/styles/global.css.ts
  src/styles/index.css.ts
  src/styles/reset.css.ts
  vite.config.ts
Labels: ⚙️ Setting, 건휘

#8 [setting] storybook 설정 및 예시 Button 구현
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/components/ButtonStory/Button.tsx
  src/components/ButtonStory/styles.css.ts
  src/stories/Button.stories.tsx
Labels: ⚙️ Setting, 규홍

#12 [fix] package.json 오류 수정
  package.json
  pnpm-lock.yaml
Labels: 🔧 Fix, 건휘

#15 [docs] 프로젝트 1차 readme 작성
  README.md
Labels: 📃 Docs, 진혁

#17 [setting] Theme 세팅
  README.md
  eslint.config.js
  package.json
  src/App.tsx
  src/components/Button/index.css.ts
  src/components/Button/index.tsx
  src/components/ButtonStory/Button.tsx
  src/components/Card/index.css.ts
  src/components/Card/index.tsx
  src/queryClient.ts
  src/stories/Button.stories.tsx
  src/styles/global.css.ts
  src/styles/index.css.ts
  src/styles/reset.css.ts
  src/styles/theme.css.ts
  tsconfig.json
  vite.config.ts
Labels: ⚙️ Setting, 건휘

#26 [setting] Route 및 절대 경로 설정
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/main.tsx
  src/pages/.keep
  src/pages/class/index.tsx
  src/pages/dancer/index.tsx
  src/pages/home/index.tsx
  src/pages/instructor/classDetail/index.tsx
  src/pages/instructor/classList/index.tsx
  src/pages/instructor/classRegister/index.tsx
  src/pages/instructorRegister/index.tsx
  src/pages/login/index.tsx
  src/pages/mypage/MyPageReservation.tsx/index.tsx
  src/pages/mypage/MyPageReservationDetail.tsx/index.tsx
  src/pages/mypage/index.tsx
  src/pages/reservation/index.tsx
  src/pages/search/index.tsx
  src/routes/.keep
  src/routes/router.tsx
  src/routes/routesConfig.ts
  tsconfig.app.json
  vite.config.ts
Labels: ⚙️ Setting, 희선

#30 [Style] font명 단순화
  src/styles/theme.css.ts
Labels: 🎨 Design, 규홍

#33 [Docs] PR 템플릿 체크 리스트 추가
  .github/pull_request_template.md
Labels: 📃 Docs, 진혁

#19 [Feat] Header 공통 컴포넌트 구현
  package.json
  pnpm-lock.yaml
  public/svg/.keep
  public/svg/ic_back.svg
  public/svg/ic_close.svg
  src/assets/svg/.keep
  src/assets/svg/IcBack.tsx
  src/assets/svg/IcClose.tsx
  src/assets/svg/index.ts
  src/components/Header/index.css.ts
  src/components/Header/index.tsx
  src/stories/Header.stories.tsx
Labels: 🛠️ Feature, 건휘

#37 [Feat] Head 공통 컴포넌트 구현
  src/components/Head/index.css.ts
  src/components/Head/index.tsx
  src/stories/Head.stories.tsx
Labels: 🛠️ Feature, 규홍

#47 [Fix] package.json 파일 오류 해결
  package.json
  pnpm-lock.yaml
  src/components/Header/index.css.ts
  src/components/Header/index.tsx
Labels: 🔧 Fix, 건휘

#27 [Feat] Tag 공통 컴포넌트 구현
  src/components/Tag/index.css.ts
  src/components/Tag/index.tsx
  src/stories/Tag.stories.tsx
Labels: 🛠️ Feature, 희선

#39 [Feat] divider 공통 컴포넌트 구현
  src/components/Divider/index.css.ts
  src/components/Divider/index.tsx
  src/stories/Divider.stories.tsx
Labels: 🛠️ Feature, 희선

#32 [Feat] Text 공통 컴포넌트 구현
  .storybook/preview.ts
  src/components/Text/index.css.ts
  src/components/Text/index.tsx
  src/stories/Text.stories.tsx
Labels: 🛠️ Feature, 규홍

#53 [Fix] Header 공통 컴포넌트 스타일 수정
  src/components/Header/index.css.ts
  src/components/Header/index.tsx
Labels: 🔧 Fix, 건휘

#49 [Feat] Input 공통 컴포넌트 구현
  src/components/Input/index.css.ts
  src/components/Input/index.tsx
Labels: 🛠️ Feature, 진혁

#42 [Feat] BoxButton 공통 컴포넌트 구현
  .storybook/preview.ts
  src/App.tsx
  src/components/BoxButton/index.css.ts
  src/components/BoxButton/index.tsx
  src/components/Button/index.css.ts
  src/components/Button/index.tsx
  src/stories/BoxButton.stories.tsx
  src/stories/ButtonStory.stories.tsx
  src/styles/theme.css.ts
Labels: 🛠️ Feature, 규홍

#61 [Feat] Text 공통 컴포넌트 색상 속성 추가
  src/components/Text/index.css.ts
  src/components/Text/index.tsx
  src/pages/mypage/MyPageReservation/index.tsx
  src/pages/mypage/myPageReservationDetail/index.tsx
  src/routes/router.tsx
  src/stories/Text.stories.tsx
Labels: 🛠️ Feature, 희선

#38 [Feat] ProgressBar 공통 컴포넌트 구현
  src/components/ProgressBar/index.css.ts
  src/components/ProgressBar/index.tsx
  src/stories/ProgressBar.stories.tsx
Labels: 🛠️ Feature, 건휘

#70 [Design] 스타일 가이드 변경사항 적용
  src/styles/theme.css.ts
Labels: 🎨 Design, 건휘

#59 [Feat] Funnel 구조 초기 세팅
  src/hooks/useFunnel.tsx
Labels: 🛠️ Feature, 진혁

#71 [Feat] Tag 공통 컴포넌트 스타일 추가
  src/components/Tag/index.css.ts
  src/components/Tag/index.tsx
  src/routes/router.tsx
  src/stories/Tag.stories.tsx
Labels: 🛠️ Feature, 희선

#80 [Feat] clsx 라이브러리 도입
  package.json
  pnpm-lock.yaml
  src/components/BoxButton/index.tsx
  src/components/Card/index.tsx
  src/components/Divider/index.tsx
  src/components/Flex/index.tsx
  src/components/Head/index.tsx
  src/components/Input/index.tsx
  src/components/Tag/index.tsx
  src/components/Text/index.tsx
Labels: 🛠️ Feature, 규홍

#50 [Feat] 캘린더 커스텀
  package.json
  pnpm-lock.yaml
  src/pages/search/Calendar/index.css.ts
  src/pages/search/Calendar/index.tsx
Labels: 🛠️ Feature, 건휘

#67 [Feat] 탐색 페이지 검색 전 Intro 컴포넌트 구현
  public/svg/ic_speaker_3d.svg
  src/assets/svg/IcSpeaker3D.tsx
  src/assets/svg/index.ts
  src/components/Head/index.css.ts
  src/components/Head/index.tsx
  src/pages/search/components/SearchIntro/index.css.ts
  src/pages/search/components/SearchIntro/index.tsx
Labels: 🛠️ Feature, 건휘

#62 [Feat] 탐색 페이지 검색바 구현
  public/svg/ic_search_gray.svg
  public/svg/ic_x_circle_gray.svg
  src/assets/svg/IcSearchGray.tsx
  src/assets/svg/IcXCircleGray.tsx
  src/assets/svg/index.ts
  src/components/Header/index.tsx
  src/components/Input/index.css.ts
  src/pages/search/components/SearchBar/index.css.ts
  src/pages/search/components/SearchBar/index.tsx
  src/pages/search/index.tsx
  src/stories/Header.stories.tsx
Labels: 🛠️ Feature, 건휘

#63 [Feat] 홈 헤더 퍼블리싱 및 스크롤시 헤더 상태 변경 로직 구현
  public/svg/ic_logo_small_black.svg
  public/svg/ic_logo_small_white.svg
  public/svg/ic_mypage_black_24.svg
  public/svg/ic_mypage_white_24.svg
  public/svg/ic_search_black_24.svg
  public/svg/ic_search_white_24.svg
  src/assets/svg/IcLogoSmallBlack.tsx
  src/assets/svg/IcLogoSmallWhite.tsx
  src/assets/svg/IcMypageBlack24.tsx
  src/assets/svg/IcMypageWhite24.tsx
  src/assets/svg/IcSearchBlack24.tsx
  src/assets/svg/IcSearchWhite24.tsx
  src/assets/svg/index.ts
  src/pages/home/components/HomeHeader/index.css.ts
  src/pages/home/components/HomeHeader/index.tsx
  src/pages/home/index.css.ts
  src/pages/home/index.tsx
  src/utils/.keep
  src/utils/useIntersect.ts
Labels: 🛠️ Feature, 규홍

#81 [Feat] 탐색 페이지 댄서 리스트 컴포넌트 구현
  src/components/Flex/index.tsx
  src/constants/.keep
  src/mocks/DancerList.ts
  src/pages/search/DancerList/index.css.ts
  src/pages/search/DancerList/index.tsx
Labels: 🛠️ Feature, 건휘

#97 [Feat] Tag 공통 컴포넌트 속성 확장
  public/svg/ic_calendarcheck_color_3d_24.svg
  public/svg/ic_calendarcheck_mono_3d_24.svg
  src/assets/svg/IcCalendarcheckColor3D24.tsx
  src/assets/svg/IcCalendarcheckMono3D24.tsx
  src/assets/svg/index.ts
  src/components/Tag/index.css.ts
  src/components/Tag/index.tsx
  src/stories/Tag.stories.tsx
Labels: 🛠️ Feature, 희선

#99 [Feat] 강사 등록 이미지 업로드 컴포넌트 구현
  public/svg/ic_plus_gray05_24.svg
  public/svg/ic_x_circle_gray04_24.svg
  src/assets/svg/IcCalendarcheckColor3D24.tsx
  src/assets/svg/IcCalendarcheckMono3D24.tsx
  src/assets/svg/IcPlusGray0524.tsx
  src/assets/svg/IcQuesitonmark.tsx
  src/assets/svg/IcXCircleGray0424.tsx
  src/assets/svg/index.ts
  src/hooks/.keep
  src/hooks/useUploadImg.tsx
  src/pages/instructorRegister/ImageUploader/index.css.ts
  src/pages/instructorRegister/ImageUploader/index.tsx
  src/pages/instructorRegister/index.tsx
Labels: 🛠️ Feature, 진혁

#105 [Fix] global css 수정
  src/styles/global.css.ts
  src/styles/reset.css.ts
Labels: 🔧 Fix, 규홍

#107 [Feat] 강사 이미지 업로드 Step 구현
  src/components/ProgressBar/index.tsx
  src/pages/instructorRegister/Description/index.css.ts
  src/pages/instructorRegister/Description/index.tsx
  src/pages/instructorRegister/ImageUploadStep/ImageUploader/index.css.ts
  src/pages/instructorRegister/ImageUploadStep/ImageUploader/index.tsx
  src/pages/instructorRegister/ImageUploadStep/index.tsx
  src/pages/instructorRegister/index.css.ts
  src/pages/instructorRegister/index.tsx
Labels: 🛠️ Feature, 진혁

#108 [Feat] 강사 등록 개인 SNS Step 퍼블리싱
  public/svg/ic_instagram_20.svg
  public/svg/ic_youtube_20.svg
  src/assets/svg/IcInstagram20.tsx
  src/assets/svg/IcYoutube20.tsx
  src/assets/svg/index.ts
  src/components/Head/index.tsx
  src/components/Input/index.tsx
  src/components/Tag/index.css.ts
  src/pages/instructorRegister/PersonalSNSStep/index.css.ts
  src/pages/instructorRegister/PersonalSNSStep/index.tsx
  src/pages/instructorRegister/index.tsx
Labels: 🛠️ Feature, 진혁

#110 [Feat] 탐색 페이지 바텀시트 구현
  src/pages/search/TabContainer/TagSection/BottomSheet/index.css.ts
  src/pages/search/TabContainer/TagSection/BottomSheet/index.tsx
  src/pages/search/TabContainer/TagSection/index.tsx
  src/pages/search/TabContainer/index.tsx
Labels: 🛠️ Feature, 건휘

#109 [Feat] 강사 등록 학력/경력 Step 퍼블리싱
  public/svg/btn_check.svg
  public/svg/ic_document_black_20.svg
  public/svg/ic_graduation_black_20.svg
  src/assets/svg/BtnCheck.tsx
  src/assets/svg/IcDocumentBlack20.tsx
  src/assets/svg/IcGraduationBlack20.tsx
  src/assets/svg/index.ts
  src/pages/instructorRegister/CareerStep/index.css.ts
  src/pages/instructorRegister/CareerStep/index.tsx
  src/pages/instructorRegister/PersonalSNSStep/index.css.ts
  src/pages/instructorRegister/index.tsx
Labels: 🛠️ Feature, 진혁

#115 [Design] classCard 공통 컴포넌트 아이콘 추가
  public/svg/ic_arrow_right_small_gray04_32.svg
  public/svg/ic_arrow_right_small_gray07_32.svg
  public/svg/ic_class_end_main03_24.svg
  public/svg/ic_class_ing_main03_24.svg
  public/svg/ic_class_soon_main03_24.svg
  src/assets/svg/IcClassEndMain0324.tsx
  src/assets/svg/IcClassIngMain0324.tsx
  src/assets/svg/IcClassSoonMain0324.tsx
  src/assets/svg/index.ts
  src/components/ClassCard/index.tsx
Labels: 🎨 Design, 희선

#120 [Feat] 탐색 페이지 댄서 탭 ClassItem 컴포넌트 적용
  src/mocks/DancerList.ts
  src/pages/home/components/ClassItem/index.tsx
  src/pages/home/components/ClassItem/newIndex.css.ts
  src/pages/home/index.tsx
  src/pages/home/types/classTypes.ts
  src/pages/search/SearchIntro/index.css.ts
  src/pages/search/components/Calendar/index.css.ts
  src/pages/search/components/Calendar/index.tsx
  src/pages/search/components/DancerList/index.css.ts
  src/pages/search/components/DancerList/index.tsx
  src/pages/search/components/SearchBar/index.css.ts
  src/pages/search/components/SearchBar/index.tsx
  src/pages/search/components/SearchIntro/index.css.ts
  src/pages/search/components/SearchIntro/index.tsx
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.css.ts
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.tsx
  src/pages/search/components/TabContainer/TagSection/index.css.ts
  src/pages/search/components/TabContainer/TagSection/index.tsx
  src/pages/search/components/TabContainer/index.css.ts
  src/pages/search/components/TabContainer/index.tsx
  src/pages/search/constants/index.tsx
  src/pages/search/index.tsx
  src/pages/search/mocks/index.ts
  src/pages/search/types/defaultSortTag.ts
Labels: 🛠️ Feature, 건휘

#116 [Feat] 클래스 신청 페이지 구현
  public/svg/ic_arrow_right_small_main03_32_new.svg
  public/svg/ic_check_gray07_24.svg
  public/svg/ic_check_main03_24.svg
  public/svg/ic_checkcircle_gray05_24.svg
  public/svg/ic_checkcircle_main03_24.svg
  src/assets/svg/IcArrowRightSmallMain0332New.tsx
  src/assets/svg/IcCheckGray0724.tsx
  src/assets/svg/IcCheckMain0324.tsx
  src/assets/svg/IcCheckcircleGray0524.tsx
  src/assets/svg/IcCheckcircleMain0324.tsx
  src/assets/svg/index.ts
  src/mocks/mockMyReservationData.ts
  src/pages/class/ClassInfoWrapper/index.tsx
  src/pages/reservation/AgreeCheckBox/index.css.ts
  src/pages/reservation/AgreeCheckBox/index.tsx
  src/pages/reservation/ApplicantInfo/index.css.ts
  src/pages/reservation/ApplicantInfo/index.tsx
  src/pages/reservation/ClassInfo/ScheduleItem/index.css.ts
  src/pages/reservation/ClassInfo/ScheduleItem/index.tsx
  src/pages/reservation/ClassInfo/index.css.ts
  src/pages/reservation/ClassInfo/index.tsx
  src/pages/reservation/InfoRow/index.css.ts
  src/pages/reservation/InfoRow/index.tsx
  src/pages/reservation/TopInfoContent/index.css.ts
  src/pages/reservation/TopInfoContent/index.tsx
  src/pages/reservation/index.css.ts
  src/pages/reservation/index.tsx
  src/utils/dataCalculate.ts
  src/utils/dateCalculate.ts
Labels: 🛠️ Feature, 수정

#123 [Feat] 내 클래스 목록 상세 페이지
  src/pages/instructor/classDetail/StudentCard/index.css.ts
  src/pages/instructor/classDetail/StudentCard/index.tsx
  src/pages/instructor/classDetail/index.css.ts
  src/pages/instructor/classDetail/index.tsx
  src/pages/instructor/classDetail/mocks/mockLessonDetail.ts
  src/utils/timeCalculate.ts
Labels: 🛠️ Feature, 희선

#125 [Feat] 클래스 예약 목록 상세 페이지
  src/pages/mypage/mypageReservationDetail/index.css.ts
  src/pages/mypage/mypageReservationDetail/index.tsx
  src/pages/mypage/mypageReservationDetail/mocks/reservationDetail.ts
  src/pages/reservation/ApplicantInfo/index.tsx
  src/pages/reservation/ClassInfo/index.tsx
  src/pages/reservation/index.tsx
  src/routes/router.tsx
  src/utils/getStatusMessage.tsx
  src/utils/timeCalculate.ts
Labels: 🛠️ Feature, 희선

#133 [Fix] Funnel 구조 첫 번째 step에서 이전 페이지 이동 안 되는 문제 해결
  src/components/Header/index.tsx
  src/hooks/useFunnel.tsx
  src/pages/instructorRegister/index.tsx
Labels: 🛠️ Feature, 진혁

#130 [Feat] input 공통 컴포넌트 확장
  src/components/Input/index.css.ts
  src/components/Input/index.tsx
  src/pages/instructorRegister/CareerStep/index.css.ts
  src/pages/instructorRegister/CareerStep/index.tsx
  src/pages/instructorRegister/ImageUploadStep/index.tsx
  src/pages/instructorRegister/PersonalSNSStep/index.css.ts
  src/pages/instructorRegister/PersonalSNSStep/index.tsx
Labels: 🛠️ Feature, 진혁

#124 [Feat] 홈 화면 캐러셀 적용
  index.html
  package.json
  pnpm-lock.yaml
  public/svg/ic_arrow_right_white_14.svg
  src/assets/svg/IcArrowRightWhite14.tsx
  src/assets/svg/index.ts
  src/pages/home/components/HomeCarousel/index.css.ts
  src/pages/home/components/HomeCarousel/index.tsx
  src/pages/home/components/SliderItem/index.css.ts
  src/pages/home/components/SliderItem/index.tsx
  src/pages/home/index.tsx
  src/pages/home/mocks/index.tsx
  src/styles/global.css.ts
  src/utils/timeCalculate.ts
Labels: 🛠️ Feature, 규홍

#134 [Feat] 탐색 페이지 바텀시트 탭 퍼널 내부 컴포넌트 구현
  public/svg/ic_level_advanced.svg
  public/svg/ic_level_basic.svg
  public/svg/ic_level_intermediate.svg
  public/svg/ic_level_starter.svg
  src/assets/svg/IcLevelAdvanced.tsx
  src/assets/svg/IcLevelBasic.tsx
  src/assets/svg/IcLevelIntermediate.tsx
  src/assets/svg/IcLevelStarter.tsx
  src/assets/svg/index.ts
  src/components/LevelButton/index.css.ts
  src/components/LevelButton/index.tsx
  src/constants/index.tsx
  src/pages/search/components/Calendar/index.css.ts
  src/pages/search/components/Calendar/index.tsx
  src/pages/search/components/TabContainer/TagSection/BottomSheet/GenreButton/index.css.ts
  src/pages/search/components/TabContainer/TagSection/BottomSheet/GenreButton/index.tsx
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.css.ts
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.tsx
  src/pages/search/components/TabContainer/TagSection/index.tsx
  src/pages/search/components/TabContainer/index.tsx
  src/pages/search/constants/index.tsx
  src/pages/search/index.tsx
Labels: 🛠️ Feature, 건휘

#138 [Fix] 빌드 에러 해결
  src/assets/svg/index.ts
Labels: 🔧 Fix, 건휘

#140 [Feat] Toast 구현
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/BoxButton/index.css.ts
  src/components/BoxButton/index.tsx
  src/components/ButtonStory/Button.tsx
  src/components/ButtonStory/styles.css.ts
  src/components/Toast/index.css.ts
  src/components/Toast/index.tsx
  src/pages/instructor/classList/index.css.ts
  src/pages/instructor/classList/index.tsx
  src/pages/mypage/mypageReservation/index.tsx
  src/stories/ButtonStory.stories.tsx
Labels: 🛠️ Feature, 희선

#146 [Feat] 탐색 페이지 드롭다운 구현
  src/hooks/useOutsideClick.ts
  src/pages/search/components/TabContainer/TagSection/Dropdown/index.css.ts
  src/pages/search/components/TabContainer/TagSection/Dropdown/index.tsx
  src/pages/search/components/TabContainer/TagSection/index.tsx
  src/pages/search/components/TabContainer/index.css.ts
  src/pages/search/components/TabContainer/index.tsx
Labels: 🛠️ Feature, 건휘

#154 [Fix] input 공통 컴포넌트 수정
  src/components/Header/index.css.ts
  src/components/Input/index.tsx
  src/pages/search/index.tsx
Labels: 🔧 Fix, 건휘

#147 [Feat] MyPage 컴포넌트 Home 화면에 연결
  src/mocks/mockMyPageData.ts
  src/pages/home/components/BottomSection/index.css.ts
  src/pages/home/components/BottomSection/index.tsx
  src/pages/home/components/HomeHeader/index.tsx
  src/pages/home/components/MyPage/index.css.ts
  src/pages/home/components/MyPage/index.tsx
  src/pages/home/components/TopSection/index.css.ts
  src/pages/home/components/TopSection/index.tsx
  src/pages/home/index.css.ts
  src/pages/home/index.tsx
  src/pages/mypage/index.css.ts
  src/pages/mypage/index.tsx
  src/routes/router.tsx
  src/routes/routesConfig.ts
Labels: 🛠️ Feature, 희선

#148 [Feat] 클래스 등록 페이지 퍼블리싱 및 상태 관리 로직 구현
  src/constants/regex.ts
  src/pages/instructor/classRegister/ClassAmount/index.css.ts
  src/pages/instructor/classRegister/ClassAmount/index.tsx
  src/pages/instructor/classRegister/ClassDescription/index.css.ts
  src/pages/instructor/classRegister/ClassDescription/index.tsx
  src/pages/instructor/classRegister/ClassGenre/index.css.ts
  src/pages/instructor/classRegister/ClassGenre/index.tsx
  src/pages/instructor/classRegister/ClassLevel/index.tsx
  src/pages/instructor/classRegister/ClassName/index.css.ts
  src/pages/instructor/classRegister/ClassName/index.tsx
  src/pages/instructor/classRegister/ClassPersonnel/index.css.ts
  src/pages/instructor/classRegister/ClassPersonnel/index.tsx
  src/pages/instructor/classRegister/ClassPlace/index.css.ts
  src/pages/instructor/classRegister/ClassPlace/index.tsx
  src/pages/instructor/classRegister/ClassRecommend/index.css.ts
  src/pages/instructor/classRegister/ClassRecommend/index.tsx
  src/pages/instructor/classRegister/ClassRepresentImage/index.tsx
  src/pages/instructor/classRegister/ClassSchedule/index.css.ts
  src/pages/instructor/classRegister/ClassSchedule/index.tsx
  src/pages/instructor/classRegister/Description/index.css.ts
  src/pages/instructor/classRegister/Description/index.tsx
  src/pages/instructor/classRegister/hooks/useClassRegisterForm.ts
  src/pages/instructor/classRegister/index.css.ts
  src/pages/instructor/classRegister/index.tsx
Labels: 🛠️ Feature, 진혁

#151 [Feat] onboarding 페이지 뷰 구현
  public/svg/ic_camera_main06_24.svg
  public/svg/ic_check_main04_24.svg
  public/svg/ic_image_temp.svg
  public/svg/ic_profile_basic.svg
  src/assets/svg/IcCameraMain0624.tsx
  src/assets/svg/IcCheckMain0424.tsx
  src/assets/svg/IcImageTemp.tsx
  src/assets/svg/IcProfileBasic.tsx
  src/assets/svg/index.ts
  src/components/BoxButton/index.css.ts
  src/components/BoxButton/index.tsx
  src/components/Header/index.tsx
  src/components/LevelButton/index.css.ts
  src/components/LevelButton/index.tsx
  src/hooks/useFunnel.tsx
  src/pages/login/index.tsx
  src/pages/onboarding/components/FinishStep/index.css.ts
  src/pages/onboarding/components/FinishStep/index.tsx
  src/pages/onboarding/components/GenreChip/index.css.ts
  src/pages/onboarding/components/GenreChip/index.tsx
  src/pages/onboarding/components/GenreStep/index.css.ts
  src/pages/onboarding/components/GenreStep/index.tsx
  src/pages/onboarding/components/InfoStep/index.css.ts
  src/pages/onboarding/components/InfoStep/index.tsx
  src/pages/onboarding/components/LevelStep/index.css.ts
  src/pages/onboarding/components/LevelStep/index.tsx
  src/pages/onboarding/components/OnboardingFunnel/index.tsx
  src/pages/onboarding/components/OnboardingHeader/index.css.ts
  src/pages/onboarding/components/OnboardingHeader/index.tsx
  src/pages/onboarding/components/ProfileStep/index.css.ts
  src/pages/onboarding/components/ProfileStep/index.tsx
  src/pages/onboarding/constants/index.ts
  src/pages/onboarding/index.css.ts
  src/pages/onboarding/index.tsx
  src/pages/onboarding/mocks/index.ts
  src/pages/onboarding/types/index.ts
  src/routes/router.tsx
  src/routes/routesConfig.ts
Labels: 🛠️ Feature, 규홍

#160 [Design] 탐색페이지 바텀시트 애니메이션 적용
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.css.ts
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.tsx
  src/pages/search/components/TabContainer/TagSection/index.tsx
  src/pages/search/components/TabContainer/index.css.ts
  src/pages/search/components/TabContainer/index.tsx
Labels: 🎨 Design, 건휘

#158 [Feat] zIndex theme으로 수정
  src/pages/home/components/HomeHeader/index.css.ts
  src/pages/reservation/TopInfoContent/index.css.ts
  src/pages/reservation/index.css.ts
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.css.ts
  src/styles/theme.css.ts
Labels: 🛠️ Feature, 희선

#165 [Design] 탐색페이지 바텀시트 zIndex 수정
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.css.ts
  src/routes/routesConfig.ts
Labels: 🎨 Design, 건휘

#171 [Api] 탐색페이지 댄서 검색 api 연결
  .gitignore
  public/gif/empty.gif
  src/apis/home/queries/index.ts
  src/apis/search/axios/index.ts
  src/apis/search/queries/index.ts
  src/pages/home/index.tsx
  src/pages/search/components/SearchBar/index.tsx
  src/pages/search/components/TabContainer/DancerList/index.css.ts
  src/pages/search/components/TabContainer/DancerList/index.tsx
  src/pages/search/components/TabContainer/EmptyView/index.tsx
  src/pages/search/components/TabContainer/index.tsx
  src/pages/search/index.tsx
Labels: 🛠️ Feature, 건휘

#180 [Api] 이미지 업로드 API 연결 및 커스텀 훅 분리
  src/apis/api.ts
  src/apis/common/.keep
  src/apis/common/axios/index.ts
  src/apis/common/queries/index.ts
  src/hooks/useImageUploader.ts
  src/pages/instructorRegister/InstructorRegisterFunnel/ImageUploadStep/ImageUploader/index.tsx
  src/pages/instructorRegister/InstructorRegisterFunnel/ImageUploadStep/index.css.ts
  src/pages/instructorRegister/InstructorRegisterFunnel/ImageUploadStep/index.tsx
  src/pages/instructorRegister/InstructorRegisterFunnel/index.tsx
Labels: 🛠️ Feature, 진혁

#173 [Feat] 클래스 등록 페이지 캘린더, 시간 선택 커스텀 및 퍼널 구조 적용
  public/svg/ic_arrow_down_gray10_32.svg
  public/svg/ic_arrow_up_gray10_32.svg
  src/assets/svg/IcArrowDownGray1032.tsx
  src/assets/svg/IcArrowUpGray1032.tsx
  src/assets/svg/index.ts
  src/components/Tag/index.css.ts
  src/components/Tag/index.tsx
  src/constants/index.tsx
  src/hooks/useBottomSheet.tsx
  src/hooks/useFunnel.tsx
  src/pages/instructor/classRegister/ClassSchedule/ClassRegisterBottomSheet/index.css.ts
  src/pages/instructor/classRegister/ClassSchedule/ClassRegisterBottomSheet/index.tsx
  src/pages/instructor/classRegister/ClassSchedule/ClassRegisterFunnel/index.tsx
  src/pages/instructor/classRegister/ClassSchedule/DateStep/index.css.ts
  src/pages/instructor/classRegister/ClassSchedule/DateStep/index.tsx
  src/pages/instructor/classRegister/ClassSchedule/TimeStep/TimeControl/index.css.ts
  src/pages/instructor/classRegister/ClassSchedule/TimeStep/TimeControl/index.tsx
  src/pages/instructor/classRegister/ClassSchedule/TimeStep/index.css.ts
  src/pages/instructor/classRegister/ClassSchedule/TimeStep/index.tsx
  src/pages/instructor/classRegister/ClassSchedule/index.tsx
  src/pages/instructor/classRegister/index.tsx
  src/pages/search/components/Calendar/index.css.ts
  src/pages/search/components/Calendar/index.tsx
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.tsx
  src/utils/timeUtils.ts
Labels: 🛠️ Feature, 희선

#181 [Api] 탐색페이지 클래스 검색 api 연결
  src/apis/search/axios/index.ts
  src/apis/search/queries/index.ts
  src/constants/index.tsx
  src/pages/search/components/TabContainer/index.tsx
  src/pages/search/constants/index.tsx
  src/pages/search/index.tsx
  src/pages/search/utils/index.ts
Labels: 🛠️ Feature, 건휘

#201 [Fix] theme 파일 fontface 수정
  index.html
  public/favicon.png
  src/styles/theme.css.ts
Labels: 🔧 Fix, 희선

#200 [Api] 마이페이지, 토큰 권한 확인 api 연결
  src/apis/api.ts
  src/apis/common/axios/index.ts
  src/apis/common/queries/index.ts
  src/apis/constants/apiURL.ts
  src/apis/constants/queryKey.ts
  src/apis/home/axios/index.ts
  src/apis/home/queries/index.ts
  src/pages/home/components/BottomSection/index.css.ts
  src/pages/home/components/BottomSection/index.tsx
  src/pages/home/components/MyPage/index.css.ts
  src/pages/home/components/MyPage/index.tsx
  src/pages/home/components/TopSection/index.css.ts
  src/pages/home/components/TopSection/index.tsx
  src/pages/home/index.css.ts
  src/pages/home/index.tsx
  src/types/myPageTypes.ts
  src/types/roleTypes.ts
Labels: 🛠️ Feature, 희선

#196 [Api] 강사 등록 API 연결
  src/apis/common/axios/index.ts
  src/apis/instructorRegister/axios/index.ts
  src/apis/instructorRegister/queries/index.ts
  src/components/BoxButton/index.tsx
  src/hooks/useImageUploader.ts
  src/pages/instructor/classRegister/ClassSchedule/ClassRegisterFunnel/index.tsx
  src/pages/instructorRegister/InstructorRegisterFunnel/index.tsx
  src/pages/instructorRegister/components/Description/index.css.ts
  src/pages/instructorRegister/components/Description/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/InputSection/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/index.css.ts
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/ImageUploadStep/index.css.ts
  src/pages/instructorRegister/components/InstructorRegisterFunnel/ImageUploadStep/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/IntroductionStep/index.css.ts
  src/pages/instructorRegister/components/InstructorRegisterFunnel/IntroductionStep/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/PersonalSNSStep/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/VideoLinkStep/index.css.ts
  src/pages/instructorRegister/components/InstructorRegisterFunnel/VideoLinkStep/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/index.css.ts
  src/pages/instructorRegister/components/InstructorRegisterFunnel/index.tsx
  src/pages/instructorRegister/constants/index.ts
  src/pages/instructorRegister/index.tsx
  src/pages/instructorRegister/types/index.ts
Labels: 🛠️ Feature, 진혁

#207 [Feat] axios interceptor 설정
  src/apis/api.ts
  src/apis/auth/quries/index.ts
  src/constants/api.ts
Labels: 🛠️ Feature, 규홍

#186 [Api] 홈 추천 광고 api 연결
  src/apis/home/axios/index.ts
  src/apis/home/queries/index.ts
  src/pages/home/components/HomeCarousel/index.tsx
  src/pages/home/index.css.ts
  src/pages/home/index.tsx
  src/pages/home/mocks/index.tsx
  src/pages/home/types/advertisementsTypes.ts
Labels: 🛠️ Feature, 규홍

#205 [Feat] 에러페이지 구현
  public/svg/ic_error.svg
  src/assets/svg/IcError.tsx
  src/assets/svg/index.ts
  src/pages/error/index.css.ts
  src/pages/error/index.tsx
  src/routes/router.tsx
  src/routes/routesConfig.ts
Labels: 🛠️ Feature, 건휘

#209 [Fix] 홈 <-> 마이페이지 연동 이슈 해결
  src/apis/common/axios/index.ts
  src/apis/common/queries/index.ts
  src/apis/home/axios/index.ts
  src/apis/home/queries/index.ts
  src/assets/gif/empty.gif
  src/assets/gif/index.ts
  src/components/Completion/index.tsx
  src/pages/home/components/MyPage/index.tsx
  src/pages/home/index.tsx
  src/pages/login/index.tsx
  src/pages/onboarding/components/FinishStep/index.tsx
  src/pages/search/components/TabContainer/EmptyView/index.tsx
  src/utils/authUtil.ts
Labels: 🛠️ Feature, 희선

#191 [Api] 홈 인기장르 get api 구현
  src/apis/home/axios/index.ts
  src/apis/home/queries/index.ts
  src/constants/index.tsx
  src/pages/home/components/GenreItem/index.tsx
  src/pages/home/components/PopularGenre/index.tsx
  src/pages/home/constants/index.tsx
  src/pages/home/index.tsx
  src/pages/home/mocks/index.tsx
Labels: 🛠️ Feature, 규홍

#193 [Api] 홈 추천수업, 마감임박 수업 get api 연결
  src/apis/home/axios/index.ts
  src/apis/home/queries/index.ts
  src/pages/home/components/LessonItem/index.css.ts
  src/pages/home/components/LessonItem/index.tsx
  src/pages/home/components/LessonItem/newIndex.css.ts
  src/pages/home/components/PopularGenre/index.tsx
  src/pages/home/components/RecommendationLessons/index.css.ts
  src/pages/home/components/RecommendationLessons/index.tsx
  src/pages/home/components/UpcomingLessons/index.css.ts
  src/pages/home/components/UpcomingLessons/index.tsx
  src/pages/home/index.css.ts
  src/pages/home/index.tsx
  src/pages/home/types/classTypes.ts
  src/pages/search/components/TabContainer/index.tsx
Labels: 🛠️ Feature, 규홍

#195 [Api] 홈 인기댄서 조회 api 연결
  src/apis/home/axios/index.ts
  src/apis/home/queries/index.ts
  src/pages/home/components/DancerItem/index.tsx
  src/pages/home/components/PopularDancers/index.css.ts
  src/pages/home/components/PopularDancers/index.tsx
  src/pages/home/index.css.ts
  src/pages/home/index.tsx
  src/pages/home/mocks/index.tsx
  src/pages/home/types/dancerTypes.ts
Labels: 🛠️ Feature, 규홍

#188 [Feat] 토스 페이먼츠 결제 연동
  package.json
  pnpm-lock.yaml
  src/pages/reservation/components/TossPayments/CheckOut/CheckOut.tsx
  src/pages/reservation/components/TossPayments/Fail/Fail.tsx
  src/pages/reservation/components/TossPayments/Success/Success.tsx
  src/pages/reservation/components/TossPayments/index.css.ts
  src/pages/reservation/index.tsx
  src/routes/router.tsx
  src/routes/routesConfig.ts
Labels: 🛠️ Feature, 건휘

#211 [Api] 클래스 예약 내역 조회 api
  src/apis/myPageReservation/axios/index.ts
  src/apis/myPageReservation/queries/index.ts
  src/components/ClassCard/index.tsx
  src/mocks/mockMyPageData.ts
  src/mocks/mockReservationData.ts
  src/pages/home/components/TopSection/index.tsx
  src/pages/home/index.tsx
  src/pages/mypage/mypageReservation/index.tsx
  src/routes/router.tsx
  src/routes/routesConfig.ts
  src/types/reservationTypes.ts
Labels: 🛠️ Feature, 희선

#213 [Feat] 탐색페이지 인트로 컴포넌트 적용
  src/constants/index.tsx
  src/pages/search/components/SearchIntro/index.tsx
  src/pages/search/components/TabContainer/index.tsx
  src/pages/search/index.tsx
Labels: 🛠️ Feature, 건휘

#216 [Api] 클래스 예약 내역 상세 api 연결
  src/apis/constants/apiURL.ts
  src/apis/myPageReservationDetail/axios/index.ts
  src/apis/myPageReservationDetail/queries/index.ts
  src/apis/onboarding/queries/index.ts
  src/pages/home/index.tsx
  src/pages/mypage/mypageReservationDetail/index.tsx
  src/pages/mypage/mypageReservationDetail/mocks/reservationDetail.ts
  src/pages/onboarding/components/OnboardingFunnel/index.tsx
  src/pages/reservation/components/ApplicantInfo/index.tsx
  src/pages/reservation/components/ClassInfo/index.tsx
  src/pages/reservation/index.tsx
  src/pages/reservation/mocks/mockMyReservationData.ts
  src/types/reservationDetailTypes.ts
Labels: 🛠️ Feature, 희선

#220 [Api] 로그아웃 api 연결 및 토큰 권한 api 수정
  src/apis/auth/axios/index.ts
  src/apis/auth/quries/index.ts
  src/apis/common/axios/index.ts
  src/apis/common/queries/index.ts
  src/pages/home/components/BottomSection/index.tsx
  src/pages/home/components/MyPage/index.tsx
  src/types/roleTypes.ts
Labels: 🛠️ Feature, 희선

#222 [Api] 내 클래스 조회 api 연결
  src/apis/classList/axios/index.ts
  src/apis/classList/queries/index.ts
  src/apis/home/axios/index.ts
  src/components/ClassCard/index.tsx
  src/pages/instructor/classList/index.tsx
  src/routes/router.tsx
  src/routes/routesConfig.ts
  src/types/lessonTypes.ts
  src/types/roleTypes.ts
Labels: 🛠️ Feature, 희선

#214 [Feat] 자잘한 디테일 추가
  src/assets/images/img_genre_breaking_84.png
  src/assets/images/img_genre_choreo.png
  src/assets/images/img_genre_femalehiphop_84.png
  src/assets/images/img_genre_hiphop_84.png
  src/assets/images/img_genre_house.png
  src/assets/images/img_genre_kpop.png
  src/assets/images/img_genre_krump.png
  src/assets/images/img_genre_locking.png
  src/assets/images/img_genre_popping.png
  src/assets/images/img_genre_soul.png
  src/assets/images/img_genre_vogging.png
  src/assets/images/img_waacking.png
  src/assets/images/index.ts
  src/pages/home/components/GenreItem/index.tsx
  src/pages/home/components/PopularDancers/index.css.ts
  src/pages/home/components/PopularDancers/index.tsx
  src/pages/home/components/RecommendationLessons/index.css.ts
  src/pages/home/components/RecommendationLessons/index.tsx
  src/pages/home/components/UpcomingLessons/index.css.ts
  src/pages/home/components/UpcomingLessons/index.tsx
  src/pages/onboarding/components/OnboardingFunnel/index.tsx
  src/pages/onboarding/components/ProfileStep/index.tsx
  src/pages/onboarding/mocks/index.ts
Labels: 🛠️ Feature, 규홍

#227 [Feat] 이미지 업로드 훅 로직 수정 및 반영
  src/apis/constants/apiURL.ts
  src/hooks/useImageUploader.ts
  src/pages/home/components/HomeHeader/index.tsx
  src/pages/home/components/LessonItem/index.css.ts
  src/pages/home/components/LessonItem/index.tsx
  src/pages/home/components/RecommendationLessons/index.tsx
  src/pages/home/components/UpcomingLessons/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/index.tsx
  src/pages/onboarding/components/OnboardingFunnel/index.tsx
  src/pages/onboarding/components/ProfileStep/index.tsx
  src/pages/search/components/TabContainer/index.tsx
Labels: 🛠️ Feature, 규홍

#228 [Api] 강사 개설 클래스 상세 조회
  src/apis/classDetail/axios/index.ts
  src/apis/classDetail/queries/index.ts
  src/apis/classList/axios/index.ts
  src/apis/constants/apiURL.ts
  src/components/ClassCard/index.tsx
  src/pages/home/types/classCardTypes.ts
  src/pages/instructor/classDetail/StudentCard/index.tsx
  src/pages/instructor/classDetail/index.tsx
  src/pages/instructor/classDetail/mocks/mockLessonDetail.ts
  src/types/myPageLessonDetailTypes.ts
  src/types/roleTypes.ts
Labels: 🛠️ Feature, 희선

#236 [Feat] 라우팅 연결
  src/apis/constants/apiURL.ts
  src/pages/home/components/DancerItem/index.tsx
  src/pages/home/components/HomeHeader/index.tsx
  src/pages/home/components/LessonItem/index.tsx
  src/pages/home/components/PopularDancers/index.tsx
  src/pages/onboarding/components/OnboardingHeader/index.tsx
Labels: 🛠️ Feature, 규홍

#247 [!HOTFIX] 클래스 등록 페이지 hotfix 이슈 해결
  src/apis/instructor/classRegister/queries/index.ts
  src/pages/instructor/classRegister/components/ClassSchedule/ClassRegisterBottomSheet/index.tsx
  src/utils/timeUtils.ts
Labels: 🔧 Fix, 진혁

#248 [!HOTFIX] 마이페이지 라우트 경로 설정 (#246)
  src/pages/home/components/BottomSection/index.tsx
  src/pages/home/components/TopSection/index.css.ts
  src/pages/home/components/TopSection/index.tsx
  src/pages/mypage/constants/myPageList.ts
Labels: 🔧 Fix, 희선

#249 [Fix] 웹 QA(검색페이지)
  src/pages/search/components/TabContainer/index.tsx
  src/pages/search/index.tsx
Labels: 🔧 Fix, 건휘

#250 [Fix] 웹 QA 이슈 정리
  src/components/LevelButton/index.css.ts
  src/pages/home/components/DancerItem/index.css.ts
  src/pages/home/components/LessonItem/index.css.ts
  src/pages/home/components/LessonItem/newIndex.css.ts
  src/pages/login/components/KakaoButton/index.css.ts
  src/pages/login/components/KakaoButton/index.tsx
  src/pages/login/components/LoginHeader/index.tsx
  src/pages/onboarding/components/LevelStep/index.tsx
  src/pages/onboarding/components/OnboardingFunnel/index.tsx
  src/pages/onboarding/components/ProfileStep/index.tsx
  src/pages/search/components/TabContainer/DancerList/index.css.ts
Labels: 🔧 Fix, 규홍

#256 [HOTFIX] redirect url 수정
  src/pages/auth/index.ts
Labels: 🛠️ Feature, 규홍

#253 [Design] timeSelector 수정
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/TimeControl/index.css.ts
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/TimeControl/index.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/index.tsx
Labels: 🎨 Design, 희선

#258 기획/디자인 포함 QA용 2차 배포
  src/pages/auth/index.ts
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/TimeControl/index.css.ts
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/TimeControl/index.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/index.tsx
  src/pages/reservation/components/TopInfoContent/index.css.ts
  src/pages/reservation/components/TopInfoContent/index.tsx
Labels: 진혁, 🌈 Deploy

#261 기획/디자인 QA용 2차 배포
  src/pages/login/components/KakaoButton/index.tsx
Labels: 🌈 Deploy

#267 기획/디자인 QA용 2차 배포 (vercel.json 추가)
  vercel.json
Labels: 🌈 Deploy

#274 [Feat] 토스페이먼츠 결제 api 연동
  src/apis/reservation/axios/index.ts
  src/apis/reservation/queries/index.ts
  src/components/Header/index.tsx
  src/pages/mypage/mypageReservation/index.tsx
  src/pages/reservation/components/TossPayments/CheckOut/CheckOut.tsx
  src/pages/reservation/components/TossPayments/Success/Success.tsx
  src/pages/reservation/components/TossPayments/index.css.ts
  src/pages/reservation/index.tsx
Labels: 🛠️ Feature, 건휘

#270 [Fix] Pretendard 글꼴 설정 누락 및 타임 함수 오류 수정
  src/pages/instructor/classRegister/hooks/useClassRegisterForm.ts
  src/styles/font.css
  src/styles/theme.css.ts
  src/utils/timeUtils.ts
Labels: 🔧 Fix, 희선

#276 [Feat] 토스트 중복 쌓임 해결 및 추가
  src/components/Toast/index.tsx
  src/pages/home/components/BottomSection/index.tsx
  src/pages/home/components/TopSection/index.tsx
  src/pages/mypage/constants/myPageList.ts
Labels: 🛠️ Feature, 희선

#278 [Fix] 전체 QA (탐색페이지)
  src/components/Tab/TabList.tsx
  src/pages/search/components/Calendar/index.css.ts
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.css.ts
  src/pages/search/components/TabContainer/TagSection/BottomSheet/index.tsx
  src/pages/search/components/TabContainer/TagSection/index.css.ts
  src/pages/search/index.css.ts
Labels: 🔧 Fix, 건휘

#281 [Fix] 전체 QA (강사 등록, 클래스 등록)
  src/apis/instructorRegister/axios/index.ts
  src/apis/instructorRegister/queries/index.ts
  src/pages/instructor/classRegister/components/ClassPlace/index.tsx
  src/pages/instructor/classRegister/hooks/useClassRegisterForm.ts
  src/pages/instructor/classRegister/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/InputSection/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/PersonalSNSStep/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/index.tsx
  src/pages/instructorRegister/types/index.ts
Labels: 🔧 Fix

#286 [Fix] 자잘한 수정사항 반영
  src/components/LevelButton/index.css.ts
  src/components/LevelButton/index.tsx
  src/components/Tag/index.css.ts
  src/pages/search/components/TabContainer/TagSection/index.css.ts
Labels: 🔧 Fix, 건휘

#289 전체 QA용 3차 배포 (build 문제 해결)
  src/pages/home/components/BottomSection/index.tsx
  src/pages/home/components/TopSection/index.tsx
  src/pages/mypage/mypageReservation/index.tsx
Labels: 🌈 Deploy

#293 전체 QA용 3차 배포 (로그아웃 이슈 해결)
  src/pages/mypage/constants/myPageList.ts
Labels: 🌈 Deploy

#294 [!HOTFIX] 전체 QA 버그 수정 (댄서 네임, input value 지정)
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/InputSection/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/IntroductionStep/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/PersonalSNSStep/index.tsx
Labels: 🔧 Fix

#295 전체 QA용 3차 배포 (댄서 네임, Input value 수정)
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/InputSection/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/IntroductionStep/index.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/PersonalSNSStep/index.tsx
Labels: 🌈 Deploy

#298 [Fix] 로그인 버그 해결
  src/apis/auth/quries/index.ts
Labels: 🔧 Fix, 규홍

#301 [Fix] 탐색페이지 엔터시에도 검색 가능하도록 수정
  src/pages/search/components/Calendar/index.css.ts
  src/pages/search/components/SearchBar/index.tsx
Labels: 🔧 Fix, 건휘

#302 [Feat] classCard 장소 수정
  src/components/ClassCard/index.css.ts
  src/components/ClassCard/index.tsx
  src/pages/home/components/LessonItem/index.css.ts
Labels: 🛠️ Feature, 희선

#303 전체 QA용 4차 배포 (액세스토큰, 클래스카드, 엔터키 수정)
  README.md
  src/apis/auth/quries/index.ts
  src/components/ClassCard/index.css.ts
  src/components/ClassCard/index.tsx
  src/pages/home/components/LessonItem/index.css.ts
  src/pages/search/components/Calendar/index.css.ts
  src/pages/search/components/SearchBar/index.tsx
Labels: 🌈 Deploy

#305 [Fix] 글자 수 제한
  src/pages/home/components/LessonItem/index.css.ts
Labels: 🔧 Fix, 규홍

#306 [Feat] 에러 바운더리, 로딩 적용
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/assets/gif/index.ts
  src/assets/gif/loading.gif
  src/components/ClassCard/index.css.ts
  src/pages/error/index.tsx
  src/pages/home/components/HomeCarousel/index.tsx
  src/pages/home/components/SliderItem/index.tsx
  src/pages/loading/index.tsx
  src/pages/reservation/components/TossPayments/Success/Success.tsx
  src/pages/reservation/components/TossPayments/index.css.ts
  src/routes/router.tsx
Labels: 🛠️ Feature, 건휘

#307 전체 QA용 5차 배포
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/assets/gif/index.ts
  src/assets/gif/loading.gif
  src/components/ClassCard/index.css.ts
  src/pages/error/index.tsx
  src/pages/home/components/HomeCarousel/index.tsx
  src/pages/home/components/LessonItem/index.css.ts
  src/pages/home/components/SliderItem/index.tsx
  src/pages/loading/index.tsx
  src/pages/reservation/components/TossPayments/Success/Success.tsx
  src/pages/reservation/components/TossPayments/index.css.ts
  src/routes/router.tsx
Labels: 🌈 Deploy

#309 [Feat] og 메타태그 설정
  index.html
  public/img/dash-Thumbnail.png
Labels: 🛠️ Feature, 건휘

#310 5차 배포 (OG 이미지 적용)
  index.html
  public/img/dash-Thumbnail.png
Labels: 진혁, 🌈 Deploy

#312 [Fix] 메타 태그 오타 수정
  index.html
  public/dash-Thumbnail.png
Labels: 🔧 Fix, 건휘

#315 [!HOTFIX] 클래스 개설 완료 페이지 route 추가
  src/routes/router.tsx
Labels: 🔧 Fix
