Repository team-da-sh/dash-client, pull requests merged in 2025-08, with the labels that each got.

#489 [Feat] class card 변경사항 반영
  .storybook/preview.tsx
  public/svg/ic_clear_alert_20.svg
  public/svg/ic_clear_gray09_20.svg
  public/svg/ic_clear_main03_20.svg
  public/svg/ic_meatball_alert_20.svg
  public/svg/ic_meatball_main03_20.svg
  src/shared/assets/svg/IcClearAlert20.tsx
  src/shared/assets/svg/IcClearGray0920.tsx
  src/shared/assets/svg/IcClearMain0320.tsx
  src/shared/assets/svg/IcMeatballAlert20.tsx
  src/shared/assets/svg/IcMeatballMain0320.tsx
  src/shared/components/ClassCard/ClassCard.tsx
  src/shared/components/ClassCard/classCard.css.ts
  src/stories/ClassCard.stories.tsx
Labels: 🛠️ Feature, 규홍

#490 [Refactor] sp3 mypage 댄서네임 부분 삭제
  src/pages/editProfiles/api/axios.ts
  src/pages/editProfiles/components/ProfileForm/ProfileForm.tsx
  src/pages/editProfiles/components/ProfileForm/components/ProfileImageUpload/ProfileImageUpload.tsx
  src/pages/editProfiles/constants/limit.ts
  src/pages/editProfiles/constants/validationMessage.ts
  src/pages/editProfiles/schema/profileSchema.ts
  src/pages/mypage/components/BottomList/BottomList.tsx
  src/pages/mypage/components/BottomList/bottomList.css.ts
  src/pages/mypage/components/TabWrapper/components/StudentContent/StudentContent.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/studentContent.css.ts
Labels: 🛠️ Feature, 🪄 Refactor, 수정

#484 [Feat] 강사 등록 댄서 네임 중복 확인 구현
  src/pages/editProfiles/components/FormField/FormField.tsx
  src/pages/instructor/classRegister/components/ClassName/ClassName.tsx
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/instructorRegister/components/CareerSection/CareerSection.tsx
  src/pages/instructorRegister/components/DancerNameSection/DancerNameSection.tsx
  src/pages/instructorRegister/components/DancerNameSection/dancerNameSection.css.ts
  src/pages/instructorRegister/components/IntroductionSection/IntroductionSection.tsx
  src/pages/instructorRegister/components/IntroductionSection/introductionSection.css.ts
  src/pages/instructorRegister/components/PersonalSNSSection/PersonalSNSSection.tsx
  src/pages/instructorRegister/components/VideoLinkSection/VideoLinkSection.tsx
  src/pages/instructorRegister/constants/registerSection.ts
  src/pages/instructorRegister/hooks/useInstructorRegisterForm.ts
  src/pages/instructorRegister/instructorRegister.css.ts
  src/pages/instructorRegister/schema/instructorRegisterSchema.ts
  src/pages/instructorRegister/types/InstructorRegisterInfoTypes.ts
  src/pages/instructorRegister/types/api.ts
  src/pages/instructorRegister/types/instructorRegisterForm.ts
  src/pages/onboarding/components/ProfileStep/ProfileStep.tsx
  src/shared/components/Input/Input.tsx
  src/shared/components/Input/input.css.ts
Labels: 🛠️ Feature, 진혁
