Repository team-da-sh/dash-client, pull requests merged in 2025-04, with the labels that each got.

#349 [Feat] 페이지 이동 시 스크롤 위치 항상 최상단에 고정시키기
  src/layout/Layout.tsx
  src/pages/mypage/mypageReservationDetail/MypageReservationDetail.tsx
  src/routes/router.tsx
Labels: 🛠️ Feature, 건휘

#355 [Feat] 스토리북 배포 자동화
  .github/workflows/chromatic.yml
  .github/workflows/cicd.yml
  .gitignore
  package.json
  pnpm-lock.yaml
Labels: 🛠️ Feature, 희선

#352 [Feat] 강사 등록 페이지 QA 수정 사항 반영
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/CareerStep.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/InputSection/InputSection.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/CareerStep/careerStep.css.ts
  src/pages/instructorRegister/components/InstructorRegisterFunnel/InstructorRegisterFunnel.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/IntroductionStep/IntroductionStep.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/PersonalSNSStep/PersonalSNSStep.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/VideoLinkStep/VideoLinkStep.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/VideoLinkStep/videoLinkStep.css.ts
  src/pages/instructorRegister/constants/funnel.ts
  src/pages/instructorRegister/constants/index.ts
  src/shared/hooks/useUploadImg.tsx
  src/stories/Header.stories.tsx
Labels: 🛠️ Feature, 🪄 Refactor, 진혁

#365 [Feat] 이미지 리사이징을 통한 이미지 최적화
  package.json
  pnpm-lock.yaml
  public/images/image_chorehong.jpeg
  public/images/image_chorehong.webp
  public/images/image_kkukgirl.jpg
  public/images/image_kkukgirl.webp
  public/images/img_banner_750.png
  src/pages/home/Home.tsx
  src/pages/home/components/LessonItem/LessonItem.tsx
  src/shared/hooks/useImageUploader.ts
  src/shared/utils/resizeImage.ts
Labels: 🛠️ Feature, 규홍

#357 [Refactor] 마이페이지 리펙토링
  src/pages/home/apis/queries.ts
  src/pages/home/components/BottomSection/BottomSection.tsx
  src/pages/home/components/MyPage/MyPage.tsx
  src/pages/home/components/TopSection/TopSection.tsx
  src/pages/home/constants/index.tsx
  src/pages/instructor/classRegister/ClassRegister.tsx
  src/pages/instructor/classRegisterCompletion/ClassRegisterCompletion.tsx
  src/pages/instructorRegister/components/InstructorRegisterFunnel/InstructorRegisterFunnel.tsx
  src/pages/mypage/utils/storage.ts
  src/pages/reservation/Reservation.tsx
  src/pages/reservation/apis/queries.ts
  src/shared/apis/queries.ts
  src/shared/constants/queryKey.ts
  src/shared/types/api.ts
  src/shared/types/myPageTypes.ts
Labels: 🪄 Refactor, 희선

#373 [Setting] 레포 이전에 따른 auto sync workflow 설정 변경
  build.sh
Labels: ⚙️ Setting, 진혁

#374 이미지 최적화 확인 main 재반영
  build.sh
Labels: 진혁, 🌈 Deploy

#375 이미지 최적화 확인 main 재반영 - build error 해결
  src/pages/instructorRegister/components/InstructorRegisterFunnel/InstructorRegisterFunnel.tsx
Labels: 진혁, 🌈 Deploy

#377 [!HOTFIX] role response 및 setRole 변경
  src/pages/home/components/MyPage/MyPage.tsx
  src/shared/types/myPageTypes.ts
Labels: 🔧 Fix, 희선

#378 이미지 최적화 확인 main 재반영 - role response 수정
  src/pages/home/components/MyPage/MyPage.tsx
  src/shared/types/myPageTypes.ts
Labels: 진혁, 🌈 Deploy

#364 [Refactor] 검색 페이지 리펙토링
  src/pages/search/Search.tsx
  src/pages/search/apis/axios.ts
  src/pages/search/apis/queries.ts
  src/pages/search/components/Calendar/Calendar.tsx
  src/pages/search/components/SearchBar/SearchBar.tsx
  src/pages/search/components/SearchIntro/SearchIntro.tsx
  src/pages/search/components/TabContainer/DancerList/DancerList.tsx
  src/pages/search/components/TabContainer/EmptyView/EmptyView.tsx
  src/pages/search/components/TabContainer/TabContainer.tsx
  src/pages/search/components/TabContainer/TagSection/BottomSheet/BottomSheet.tsx
  src/pages/search/components/TabContainer/TagSection/BottomSheet/GenreButton/GenreButton.tsx
  src/pages/search/components/TabContainer/TagSection/Dropdown/index.tsx
  src/pages/search/components/TabContainer/TagSection/TagSection.tsx
  src/pages/search/types/api.ts
  src/pages/search/types/dancer.ts
  src/pages/search/utils/formatDate.ts
Labels: 🪄 Refactor, 건휘

#383 [Fix] 마이페이지 role 이름 수정
  src/pages/home/components/MyPage/MyPage.tsx
  src/pages/home/components/TopSection/TopSection.tsx
Labels: 🔧 Fix, 희선

#360 [Refactor] login 리펙토링 및 리프래시 로직 구현
  src/pages/auth/apis/axios.ts
  src/pages/auth/apis/queries.ts
  src/pages/auth/auth.ts
  src/pages/login/Login.tsx
  src/pages/login/components/KakaoButton/KakaoButton.tsx
  src/pages/login/login.css.ts
  src/shared/apis/instance.ts
  src/shared/apis/interceptor.ts
  src/shared/assets/webm/login.webm
Labels: 🛠️ Feature, 🪄 Refactor, 규홍

#391 [Refactor] 내 클래스, 신청한 클래스 상세&상세보기 리팩토링
  src/pages/instructor/classDetail/ClassDetail.tsx
  src/pages/instructor/classDetail/classDetail.css.ts
  src/pages/instructor/classDetail/components/StudentCard/StudentCard.tsx
  src/pages/instructor/classDetail/components/StudentCard/studentCard.css.ts
  src/pages/instructor/classList/ClassList.tsx
  src/pages/instructor/classList/apis/queries.ts
  src/pages/instructor/classList/classList.css.ts
  src/pages/instructor/classList/types/api.ts
  src/pages/instructor/utils/format.ts
  src/pages/mypage/mypageReservation/MypageReservation.tsx
  src/pages/mypage/mypageReservation/apis/queries.ts
  src/pages/mypage/mypageReservation/mypageReservation.css.ts
  src/pages/mypage/mypageReservation/types/api.ts
  src/pages/mypage/mypageReservationDetail/MypageReservationDetail.tsx
  src/pages/mypage/mypageReservationDetail/mypageReservationDetail.css.ts
  src/shared/components/ClassCard/ClassCard.tsx
  src/shared/types/lessonTypes.ts
  src/shared/types/reservationTypes.ts
Labels: 🪄 Refactor, 희선
