Repository team-da-sh/dash-client, pull requests merged in 2025-07, with the labels that each got.

#471 [Setting] msw 설치 및 세팅
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/main.tsx
  src/mocks/browser.ts
  src/mocks/data/classRegister.ts
  src/mocks/data/home.ts
  src/mocks/handler/classRegister.ts
  src/mocks/handler/home.ts
  src/mocks/handler/index.ts
Labels: ⚙️ Setting, 규홍

#473 [Feat] 토스트 리펙토링
  public/svg/ic_caution_alert01_20.svg
  public/svg/ic_clear_main04_20.svg
  src/assets/svg/IcCautionAlert0120.tsx
  src/assets/svg/IcClearMain0420.tsx
  src/assets/svg/IcHeaderLogoSmallBlack.tsx
  src/pages/editProfiles/api/queries.ts
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/mypage/components/BottomList/BottomList.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/MenuButton/MenuButton.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
  src/pages/mypage/utils/clickUtils.ts
  src/shared/components/Toast/Toast.tsx
  src/shared/components/Toast/toast.css.ts
  src/stories/Toast.stories.tsx
Labels: 🛠️ Feature, 규홍

#481 [Feat] Input helperText & length 로직 공통 컴포넌트 내부로 추상화
  src/pages/editProfiles/components/FormField/FormField.tsx
  src/pages/editProfiles/components/ProfileForm/ProfileForm.tsx
  src/pages/instructor/classRegister/components/ClassAmount/ClassAmount.tsx
  src/pages/instructor/classRegister/components/ClassName/ClassName.tsx
  src/pages/instructor/classRegister/components/ClassPersonnel/ClassPersonnel.tsx
  src/pages/onboarding/components/ProfileStep/ProfileStep.tsx
  src/shared/components/Input/Input.tsx
  src/shared/components/Input/input.css.ts
Labels: 🛠️ Feature, 진혁
