Repository team-da-sh/dash-client, pull requests merged in 2025-05, with the labels that each got.

#396 [Feat] sp2 마이페이지 디자인 반영 1차
  src/pages/home/Home.tsx
  src/pages/home/components/BottomSection/BottomSection.tsx
  src/pages/home/components/LessonItem/LessonItem.tsx
  src/pages/home/components/MyPage/MyPage.tsx
  src/pages/home/components/MyPage/myPage.css.ts
  src/pages/home/components/TopSection/TopSection.tsx
  src/pages/home/components/TopSection/topSection.css.ts
  src/pages/home/home.css.ts
  src/pages/mypage/MyPage.tsx
  src/pages/mypage/components/BottomList/BottomList.tsx
  src/pages/mypage/components/BottomList/bottomList.css.ts
  src/pages/mypage/components/MypageLessonItem/MypageLessonItem.tsx
  src/pages/mypage/components/TabWrapper/TabWrapper.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/StudentContent.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/ClassProgress/ClassProgress.css.ts
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/ClassProgress/ClassProgress.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/MenuButton/MenuButton.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/studentContent.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/teacherContent.css.ts
  src/pages/mypage/components/TabWrapper/mockData.ts
  src/pages/mypage/components/TabWrapper/tabWrapper.css.ts
  src/pages/mypage/components/TeacherLessons/TeacherLessons.tsx
  src/pages/mypage/components/TeacherLessons/teacherLessons.css.ts
  src/pages/mypage/components/mypageReservation/MypageReservation.tsx
  src/pages/mypage/components/mypageReservation/apis/axios.ts
  src/pages/mypage/components/mypageReservation/apis/queries.ts
  src/pages/mypage/components/mypageReservation/mypageReservation.css.ts
  src/pages/mypage/components/mypageReservation/types/api.ts
  src/pages/mypage/components/mypageReservationDetail/MypageReservationDetail.tsx
  src/pages/mypage/components/mypageReservationDetail/apis/axios.ts
  src/pages/mypage/components/mypageReservationDetail/apis/queries.ts
  src/pages/mypage/components/mypageReservationDetail/mypageReservationDetail.css.ts
  src/pages/mypage/components/mypageReservationDetail/types/api.ts
  src/pages/mypage/constants/myPageList.ts
  src/pages/mypage/constants/tabs.ts
  src/pages/mypage/myPage.css.ts
  src/pages/mypage/types/api.ts
  src/pages/mypage/utils/format.ts
  src/pages/mypage/utils/url.ts
  src/routes/router.tsx
  src/routes/routesConfig.ts
  src/shared/components/Header/Header.tsx
  src/shared/components/InfoComponent/InfoComponent.tsx
  src/shared/components/InfoComponent/infoComponent.css.ts
  src/shared/components/Tab/TabButton.tsx
  src/shared/components/Tab/index.css.ts
  src/shared/constants/index.tsx
Labels: 🛠️ Feature, 희선

#399 [Feat] sp2 홈 뷰 디자인 적용
  index.html
  src/pages/home/Home.tsx
  src/pages/home/apis/axios.ts
  src/pages/home/apis/queries.ts
  src/pages/home/components/GenreItem/genreItem.css.ts
  src/pages/home/components/HomeCarousel/HomeCarousel.tsx
  src/pages/home/components/LatestLessons/LatestLessons.tsx
  src/pages/home/components/LatestLessons/latestLessons.css.ts
  src/pages/home/components/RecommendationLessons/RecommendationLessons.tsx
  src/pages/home/components/SliderItem/sliderItem.css.ts
  src/pages/home/types/api.ts
  src/pages/home/types/swiper-css.d.ts
  src/shared/constants/apiURL.ts
  src/shared/constants/queryKey.ts
  src/stories/ClassCard.stories.tsx
Labels: 🛠️ Feature, 규홍

#401 [Feat] 마이페이지 SVG 파일 교체, 강사 페이지, 내정보 수정 페이지
  package.json
  pnpm-lock.yaml
  public/images/asset_my_empty.png
  public/svg/ic_list.svg
  public/svg/ic_plus_white_24.svg
  public/svg/ic_profile.svg
  public/svg/ic_recent.svg
  public/svg/ic_review.svg
  public/svg/ic_review_24.svg
  public/svg/ic_wish.svg
  src/pages/EditProfile/EditProfile.tsx
  src/pages/EditProfile/components/FormField/FormField.tsx
  src/pages/EditProfile/components/FormField/formField.css.ts
  src/pages/EditProfile/components/ProfileForm/ProfileForm.tsx
  src/pages/EditProfile/components/ProfileForm/components/FormField/FormField.tsx
  src/pages/EditProfile/components/ProfileForm/components/FormField/formField.css.ts
  src/pages/EditProfile/components/ProfileForm/components/ProfileImageUpload/ProfileImageUpload.tsx
  src/pages/EditProfile/components/ProfileForm/components/ProfileImageUpload/profileImageUpload.css.ts
  src/pages/EditProfile/components/ProfileForm/profileForm.css.ts
  src/pages/EditProfile/components/ProfileImageUpload/ProfileImageUpload.tsx
  src/pages/EditProfile/components/ProfileImageUpload/profileImageUpload.css.ts
  src/pages/EditProfile/constants/limit.ts
  src/pages/EditProfile/constants/validationMessage.ts
  src/pages/EditProfile/schema/profileSchema.ts
  src/pages/mypage/components/TabWrapper/components/StudentContent/StudentContent.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/MenuButton/MenuButton.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/EmptyClassList/EmptyClassList.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/EmptyClassList/EmptyClassList.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/TeacherLessons/TeacherLessons.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/TeacherLessons/teacherLessons.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/UnregisteredTeacher/UnregisteredTeacher.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/UnregisteredTeacher/unregisteredTeacher.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/teacherContent.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/types/api.ts
  src/pages/mypage/components/TeacherLessons/TeacherLessons.tsx
  src/pages/mypage/constants/myPageList.ts
  src/routes/router.tsx
  src/routes/routesConfig.ts
  src/shared/assets/svg/IcList.tsx
  src/shared/assets/svg/IcPlusWhite24.tsx
  src/shared/assets/svg/IcProfile.tsx
  src/shared/assets/svg/IcRecent.tsx
  src/shared/assets/svg/IcReview.tsx
  src/shared/assets/svg/IcReview24.tsx
  src/shared/assets/svg/IcWish.tsx
  src/shared/components/InfoComponent/InfoComponent.tsx
  src/shared/components/InfoComponent/infoComponent.css.ts
Labels: 🛠️ Feature, 희선

#389 [Feat] sp2 온보딩 페이지 구현
  src/pages/onboarding/Onboarding.tsx
  src/pages/onboarding/apis/axios.ts
  src/pages/onboarding/apis/queries.ts
  src/pages/onboarding/components/GenreChip/GenreChip.tsx
  src/pages/onboarding/components/GenreChip/genreChip.css.ts
  src/pages/onboarding/components/GenreStep/GenreStep.tsx
  src/pages/onboarding/components/GenreStep/genreStep.css.ts
  src/pages/onboarding/components/InfoStep/InfoStep.tsx
  src/pages/onboarding/components/LevelStep/LevelStep.tsx
  src/pages/onboarding/components/LevelStep/levelStep.css.ts
  src/pages/onboarding/components/OnboardingFunnel/OnboardingFunnel.tsx
  src/pages/onboarding/components/ProfileStep/ProfileStep.tsx
  src/pages/onboarding/components/SubmitButton/SubmitButton.tsx
  src/pages/onboarding/constants/index.ts
  src/pages/onboarding/types/onboardInfoTypes.ts
  src/shared/hooks/useFunnel.tsx
Labels: 🛠️ Feature, 규홍

#407 [Feat] Onboarding 헤더 구현 및 적용
  src/pages/onboarding/Onboarding.tsx
  src/pages/onboarding/components/OnboardingHeader/OnboardingHeader.tsx
  src/pages/onboarding/components/OnboardingHeader/onboardingHeaderStyle.css.ts
  src/pages/onboarding/onboarding.css.ts
Labels: 🛠️ Feature, 건휘

#403 [Api] 마이페이지, 내정보수정 api 연결
  index.html
  src/pages/EditProfile/api/axios.ts
  src/pages/EditProfile/api/queries.ts
  src/pages/EditProfile/types/api.ts
  src/pages/home/apis/axios.ts
  src/pages/home/apis/queries.ts
  src/pages/home/constants/index.tsx
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/mypage/MyPage.tsx
  src/pages/mypage/apis/axios.ts
  src/pages/mypage/apis/queries.ts
  src/pages/mypage/components/MypageLessonItem/MypageLessonItem.tsx
  src/pages/mypage/components/MypageLessonItem/mypageLessonItem.css.ts
  src/pages/mypage/components/TabWrapper/components/StudentContent/StudentContent.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/ClassProgress/ClassProgress.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/teacherContent.css.ts
  src/pages/mypage/types/api.ts
  src/shared/apis/queries.ts
  src/shared/components/InfoComponent/InfoComponent.tsx
  src/shared/constants/apiURL.ts
  src/shared/constants/queryKey.ts
  src/shared/styles/font.css
  src/shared/styles/global.css.ts
  src/shared/styles/reset.css.ts
  src/shared/types/myPageTypes.ts
Labels: 🛠️ Feature, 희선

#397 [Feat] sp2 클래스 상세페이지 디자인 반영
  src/pages/dancer/utils/url.ts
  src/pages/instructor/classDetail/ClassDetail.tsx
  src/pages/mypage/components/BottomList/BottomList.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
  src/pages/mypage/components/mypageReservation/MypageReservation.tsx
  src/pages/mypage/components/mypageReservationDetail/MypageReservationDetail.tsx
  src/pages/mypage/components/mypageReservationDetail/mypageReservationDetail.css.ts
  src/pages/mypage/mypageReservationDetail/components/ClassContent/ClassContent.css.ts
  src/pages/mypage/mypageReservationDetail/components/ClassContent/ClassContent.tsx
  src/pages/mypage/mypageReservationDetail/components/DetailTabWrapper.tsx/DetailTabWrapper.tsx
  src/pages/mypage/mypageReservationDetail/components/DetailTabWrapper.tsx/detailTabWrapper.css.ts
  src/pages/mypage/mypageReservationDetail/components/ReservationContent/ReservationContent.tsx
  src/pages/mypage/mypageReservationDetail/components/ReservationContent/reservationContent.css.ts
  src/shared/components/ClassCard/ClassCard.tsx
  src/shared/components/InfoComponent/infoComponent.css.ts
  src/shared/utils/getStatusMessage.tsx
Labels: 🛠️ Feature, 희선

#410 [Api] 강사 정보 수정 API & 수정용 이전 데이터 조회 API 연결
  src/main.tsx
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/instructorRegister/apis/axios.ts
  src/pages/instructorRegister/apis/queries.ts
  src/pages/instructorRegister/components/ImageUploadSection/ImageUploadSection.tsx
  src/pages/instructorRegister/components/IntroductionSection/IntroductionSection.tsx
  src/pages/instructorRegister/hooks/useInstructorRegisterForm.ts
  src/pages/instructorRegister/instructorRegister.css.ts
  src/pages/instructorRegister/types/api.ts
  src/pages/instructorRegisterCompletion/InstructorRegisterCompletion.tsx
  src/pages/instructorRegisterCompletion/instructorRegisterCompletion.css.ts
  src/routes/router.tsx
  src/routes/routesConfig.ts
  src/shared/constants/apiURL.ts
  src/shared/constants/queryKey.ts
  src/shared/constants/userRole.ts
  src/shared/hooks/useImageUploader.ts
Labels: 🛠️ Feature, 진혁

#408 [Feat] sp2 class 상세 페이지 뷰 구현
  src/pages/class/Class.tsx
  src/pages/class/class.css.ts
  src/pages/class/components/Card/Card.tsx
  src/pages/class/components/Card/card.css.ts
  src/pages/class/components/ClassButtonWrapper/ClassButtonWrapper.tsx
  src/pages/class/components/ClassInfoWrapper/ClassInfoWrapper.tsx
  src/pages/class/components/ClassInfoWrapper/classInfoWrapper.css.ts
  src/pages/class/components/LimitedChip/LimitedChip.tsx
  src/pages/class/components/LimitedChip/limitedChip.css.ts
  src/pages/class/components/TabWrapper/TabIntro/TabIntro.tsx
  src/pages/class/components/TabWrapper/TabLevel/TabLevel.tsx
  src/pages/class/components/TabWrapper/TabLevel/tabLevel.css.ts
  src/pages/class/components/TabWrapper/TabLocation/TabLocation.tsx
  src/pages/class/components/TabWrapper/TabLocation/tabLocation.css.ts
  src/pages/class/components/TabWrapper/TabPeriod/TabPeriod.tsx
  src/pages/class/components/TabWrapper/TabPeriod/tabPeriod.css.ts
  src/pages/class/components/TabWrapper/TabReview/tabReview.css.ts
  src/pages/class/components/TabWrapper/TabReview/tabReview.tsx
  src/pages/class/components/TabWrapper/TabWrapper.tsx
  src/pages/class/components/TabWrapper/tabWrapper.css.ts
  src/pages/class/constants/index.ts
  src/pages/class/hooks/useClassButtonState.ts
  src/pages/class/hooks/useHeartToggle.ts
  src/pages/class/types/api.ts
  src/pages/class/utils/dDay.ts
  src/pages/dancer/components/DancerInfo/DancerClassItem/dancerClassItem.css.ts
  src/pages/dancer/components/DancerInfo/DancerInfo.tsx
  src/pages/dancer/components/DancerInfo/dancerInfo.css.ts
  src/pages/dancer/utils/url.ts
  src/pages/reservation/components/TossPayments/Success/Success.tsx
  src/shared/components/Tab/TabButton.tsx
  src/shared/components/Tab/index.css.ts
  src/shared/constants/index.tsx
Labels: 🛠️ Feature, 수정

#414 [Refactor] 유투브, 인스타 url 수정
  src/pages/EditProfile/components/ProfileForm/ProfileForm.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
Labels: 🪄 Refactor, 희선

#412 [Feat] 마이페이지 툴팁 튜토리얼 구현
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/mypage/apis/queries.ts
  src/pages/mypage/components/TabWrapper/TabWrapper.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/ToolTip/ToolTip.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/ToolTip/components/OverlayPage.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/ToolTip/components/overlayPage.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/ToolTip/tooltip.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/teacherContent.css.ts
  src/pages/mypage/components/TabWrapper/tabWrapper.css.ts
  src/pages/mypage/constants/storageKey.ts
  src/pages/mypage/utils/storage.ts
  src/shared/assets/svg/IcTriangle.tsx
  src/shared/assets/svg/IcXBlack.tsx
Labels: 🛠️ Feature, 희선

#409 [Refactor] 클래스 등록 페이지 리팩토링
  src/pages/instructor/classRegister/ClassRegister.tsx
  src/pages/instructor/classRegister/apis/queries.ts
  src/pages/instructor/classRegister/classRegister.css.ts
  src/pages/instructor/classRegister/components/ClassAmount/ClassAmount.tsx
  src/pages/instructor/classRegister/components/ClassDescription/ClassDescription.tsx
  src/pages/instructor/classRegister/components/ClassGenre/ClassGenre.tsx
  src/pages/instructor/classRegister/components/ClassLevel/ClassLevel.tsx
  src/pages/instructor/classRegister/components/ClassName/ClassName.tsx
  src/pages/instructor/classRegister/components/ClassPersonnel/ClassPersonnel.tsx
  src/pages/instructor/classRegister/components/ClassPlace/ClassPlace.tsx
  src/pages/instructor/classRegister/components/ClassPlace/classPlace.css.ts
  src/pages/instructor/classRegister/components/ClassRecommend/ClassRecommend.tsx
  src/pages/instructor/classRegister/components/ClassRepresentImage/ClassRepresentImage.tsx
  src/pages/instructor/classRegister/components/ClassRepresentImage/classRepresentImage.css.ts
  src/pages/instructor/classRegister/components/ClassSchedule/ClassRegisterBottomSheet/ClassRegisterBottomSheet.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/ClassSchedule.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/classSchedule.css.ts
  src/pages/instructor/classRegister/constants/formLimit.ts
  src/pages/instructor/classRegister/constants/registerSectionText.ts
  src/pages/instructor/classRegister/constants/validationMessage.ts
  src/pages/instructor/classRegister/hooks/useClassRegisterForm.ts
  src/pages/instructor/classRegister/schema/classRegisterSchema.ts
  src/pages/instructor/classRegister/types/classRegisterForm.ts
  src/pages/instructor/classRegister/types/classSchedule.ts
  src/pages/instructor/classRegisterCompletion/ClassRegisterCompletion.tsx
  src/pages/instructor/classRegisterCompletion/classRegisterCompletion.css.ts
  src/pages/search/components/TabContainer/TagSection/BottomSheet/GenreButton/GenreButton.tsx
  src/shared/components/BoxButton/BoxButton.tsx
  src/shared/constants/regex.ts
Labels: 🛠️ Feature, 🪄 Refactor, 진혁

#438 [Feat] CODEOWNERS 추가 및 템플릿 수정
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/이슈-템플릿-✏️.md
  .github/pull_request_template.md
Labels: 🛠️ Feature, 희선

#436 [Refactor] sp2 마이페이지 수강생 QA 반영
  src/pages/editProfiles/EditProfile.tsx
  src/pages/editProfiles/api/queries.ts
  src/pages/editProfiles/components/BottomSheet/BottomSheet.tsx
  src/pages/editProfiles/components/BottomSheet/bottomSheet.css.ts
  src/pages/editProfiles/components/FormField/FormField.tsx
  src/pages/editProfiles/components/FormField/formField.css.ts
  src/pages/editProfiles/components/ProfileForm/ProfileForm.tsx
  src/pages/editProfiles/components/ProfileImageUpload/ProfileImageUpload.tsx
  src/pages/editProfiles/components/ProfileImageUpload/profileImageUpload.css.ts
  src/pages/editProfiles/constants/limit.ts
  src/pages/editProfiles/types/api.ts
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/instructorRegister/components/ImageUploadSection/ImageUploadSection.tsx
  src/pages/mypage/apis/queries.ts
  src/pages/mypage/components/BottomList/BottomList.tsx
  src/pages/mypage/components/MypageLessonItem/mypageLessonItem.css.ts
  src/pages/mypage/components/TabWrapper/components/StudentContent/StudentContent.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/ClassProgress/ClassProgress.css.ts
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/ClassProgress/ClassProgress.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/MenuButton/MenuButton.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/studentContent.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
  src/pages/mypage/constants/myPageList.ts
  src/pages/mypage/utils/clickUtils.ts
  src/pages/mypage/utils/format.ts
  src/shared/assets/svg/IcClearMain.tsx
  src/shared/components/ClassCard/ClassCard.tsx
  src/shared/components/InfoComponent/InfoComponent.tsx
  src/shared/components/Input/Input.tsx
  src/shared/components/Tab/index.css.ts
  src/shared/components/Toast/Toast.tsx
  src/shared/hooks/useImageUploader.ts
  src/shared/utils/formatPhoneNumber.ts
Labels: 🪄 Refactor, 희선

#434 [Refactor] SP2 댄서 상세 페이지 qa 반영
  src/pages/dancer/components/DancerInfo/DancerClassItem/DancerClassItem.tsx
  src/pages/dancer/components/DancerInfo/DancerClassItem/dancerClassItem.css.ts
  src/pages/dancer/components/TabWrapper/TabEducation/TabEducation.css.ts
  src/pages/dancer/components/TabWrapper/TabEducation/TabEducation.tsx
  src/pages/dancer/components/TabWrapper/TabExperience/TabExperience.css.ts
  src/pages/dancer/components/TabWrapper/TabExperience/TabExperience.tsx
  src/pages/dancer/components/TabWrapper/TabPrize/TabPrize.css.ts
  src/pages/dancer/components/TabWrapper/TabPrize/TabPrize.tsx
  src/pages/dancer/components/TabWrapper/TabVideo/TabVideo.tsx
  src/pages/dancer/components/TabWrapper/TabWrapper.tsx
  src/pages/dancer/dancer.css.ts
  src/pages/dancer/types/api.ts
  src/shared/constants/index.tsx
Labels: 🪄 Refactor, 수정

#428 [Refactor] search 페이지 tab 상태관리 수정
  src/pages/search/Search.tsx
  src/pages/search/components/TabContainer/TabContainer.tsx
  src/pages/search/constants/index.tsx
  src/pages/search/hooks/useTabNavigation.ts
Labels: 🪄 Refactor, 건휘

#440 [Refactor] SP2 강사 등록/수정 페이지 QA 반영
  public/svg/ic_at_12.svg
  src/assets/svg/IcAt12.tsx
  src/pages/dancer/components/DancerInfo/DancerInfo.tsx
  src/pages/dancer/utils/url.ts
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/instructorRegister/components/CareerSection/CareerSection.tsx
  src/pages/instructorRegister/components/CareerSection/InputSection/InputSection.tsx
  src/pages/instructorRegister/components/CareerSection/careerSection.css.ts
  src/pages/instructorRegister/components/Description/Description.tsx
  src/pages/instructorRegister/components/IntroductionSection/IntroductionSection.tsx
  src/pages/instructorRegister/components/IntroductionSection/introductionSection.css.ts
  src/pages/instructorRegister/components/PersonalSNSSection/PersonalSNSSection.tsx
  src/pages/instructorRegister/components/PersonalSNSSection/personalSNSSection.css.ts
  src/pages/instructorRegister/components/VideoLinkSection/VideoLinkSection.tsx
  src/pages/instructorRegister/constants/registerSection.ts
  src/pages/instructorRegister/hooks/useInstructorRegisterForm.ts
  src/pages/instructorRegister/instructorRegister.css.ts
  src/pages/instructorRegister/schema/instructorRegisterSchema.ts
  src/pages/login/Login.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
Labels: 🪄 Refactor, 진혁

#439 [Refactor] SP2 클래스 등록 페이지 QA 반영
  src/pages/editProfiles/components/FormField/FormField.tsx
  src/pages/instructor/classRegister/ClassRegister.tsx
  src/pages/instructor/classRegister/components/ClassAmount/ClassAmount.tsx
  src/pages/instructor/classRegister/components/ClassDescription/ClassDescription.tsx
  src/pages/instructor/classRegister/components/ClassDescription/classDescription.css.ts
  src/pages/instructor/classRegister/components/ClassGenre/ClassGenre.tsx
  src/pages/instructor/classRegister/components/ClassLevel/ClassLevel.tsx
  src/pages/instructor/classRegister/components/ClassName/ClassName.tsx
  src/pages/instructor/classRegister/components/ClassPersonnel/ClassPersonnel.tsx
  src/pages/instructor/classRegister/components/ClassPlace/ClassPlace.tsx
  src/pages/instructor/classRegister/components/ClassRecommend/ClassRecommend.tsx
  src/pages/instructor/classRegister/components/ClassRecommend/classRecommend.css.ts
  src/pages/instructor/classRegister/components/ClassRepresentImage/ClassRepresentImage.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/ClassRegisterBottomSheet/ClassRegisterBottomSheet.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/ClassRegisterFunnel/ClassRegisterFunnel.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/ClassRegisterFunnel/classRegisterFunnel.css.ts
  src/pages/instructor/classRegister/components/ClassSchedule/ClassSchedule.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/DateStep/DateStep.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/TimeControl/TimeControl.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/TimeStep.tsx
  src/pages/instructor/classRegister/components/Description/index.tsx
  src/pages/instructor/classRegister/hooks/useClassRegisterForm.ts
  src/pages/instructor/classRegister/hooks/useLocalFunnel.tsx
  src/pages/instructor/classRegister/schema/classRegisterSchema.ts
  src/pages/search/components/Calendar/Calendar.tsx
  src/shared/components/Input/Input.tsx
  src/shared/components/LevelButton/LevelButton.tsx
  src/shared/components/LevelButton/levelButton.css.ts
  src/shared/utils/timeUtils.ts
Labels: 🪄 Refactor, 건휘

#444 2차 스프린트 2차 QA 배포 반영 (클래스/강사 등록 추가)
  public/svg/ic_at_12.svg
  src/assets/svg/IcAt12.tsx
  src/pages/dancer/components/DancerInfo/DancerInfo.tsx
  src/pages/dancer/utils/url.ts
  src/pages/editProfiles/components/FormField/FormField.tsx
  src/pages/instructor/classRegister/ClassRegister.tsx
  src/pages/instructor/classRegister/components/ClassAmount/ClassAmount.tsx
  src/pages/instructor/classRegister/components/ClassDescription/ClassDescription.tsx
  src/pages/instructor/classRegister/components/ClassDescription/classDescription.css.ts
  src/pages/instructor/classRegister/components/ClassGenre/ClassGenre.tsx
  src/pages/instructor/classRegister/components/ClassLevel/ClassLevel.tsx
  src/pages/instructor/classRegister/components/ClassName/ClassName.tsx
  src/pages/instructor/classRegister/components/ClassPersonnel/ClassPersonnel.tsx
  src/pages/instructor/classRegister/components/ClassPlace/ClassPlace.tsx
  src/pages/instructor/classRegister/components/ClassRecommend/ClassRecommend.tsx
  src/pages/instructor/classRegister/components/ClassRecommend/classRecommend.css.ts
  src/pages/instructor/classRegister/components/ClassRepresentImage/ClassRepresentImage.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/ClassRegisterBottomSheet/ClassRegisterBottomSheet.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/ClassRegisterFunnel/ClassRegisterFunnel.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/ClassRegisterFunnel/classRegisterFunnel.css.ts
  src/pages/instructor/classRegister/components/ClassSchedule/ClassSchedule.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/DateStep/DateStep.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/TimeControl/TimeControl.tsx
  src/pages/instructor/classRegister/components/ClassSchedule/TimeStep/TimeStep.tsx
  src/pages/instructor/classRegister/components/Description/index.tsx
  src/pages/instructor/classRegister/hooks/useClassRegisterForm.ts
  src/pages/instructor/classRegister/hooks/useLocalFunnel.tsx
  src/pages/instructor/classRegister/schema/classRegisterSchema.ts
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/instructorRegister/components/CareerSection/CareerSection.tsx
  src/pages/instructorRegister/components/CareerSection/InputSection/InputSection.tsx
  src/pages/instructorRegister/components/CareerSection/careerSection.css.ts
  src/pages/instructorRegister/components/Description/Description.tsx
  src/pages/instructorRegister/components/IntroductionSection/IntroductionSection.tsx
  src/pages/instructorRegister/components/IntroductionSection/introductionSection.css.ts
  src/pages/instructorRegister/components/PersonalSNSSection/PersonalSNSSection.tsx
  src/pages/instructorRegister/components/PersonalSNSSection/personalSNSSection.css.ts
  src/pages/instructorRegister/components/VideoLinkSection/VideoLinkSection.tsx
  src/pages/instructorRegister/constants/registerSection.ts
  src/pages/instructorRegister/hooks/useInstructorRegisterForm.ts
  src/pages/instructorRegister/instructorRegister.css.ts
  src/pages/instructorRegister/schema/instructorRegisterSchema.ts
  src/pages/login/Login.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
  src/pages/search/components/Calendar/Calendar.tsx
  src/shared/components/Input/Input.tsx
  src/shared/components/LevelButton/LevelButton.tsx
  src/shared/components/LevelButton/levelButton.css.ts
  src/shared/utils/timeUtils.ts
Labels: 🌈 Deploy

#443 [Refactor] 마이페이지 내 오류 해결
  src/pages/editProfiles/EditProfile.tsx
  src/pages/editProfiles/components/ProfileForm/ProfileForm.tsx
  src/pages/editProfiles/components/ProfileForm/profileForm.css.ts
  src/pages/editProfiles/editProfile.css.ts
  src/pages/home/components/LessonItem/LessonItem.tsx
  src/pages/home/components/LessonItem/newLessonItem.css.ts
  src/pages/instructor/classDetail/classDetail.css.ts
  src/pages/instructor/classList/classList.css.ts
  src/pages/instructorRegister/components/ImageUploadSection/ImageUploadSection.tsx
  src/pages/instructorRegister/components/ImageUploadSection/imageUploadSection.css.ts
  src/pages/mypage/components/BottomList/BottomList.tsx
  src/pages/mypage/components/MypageLessonItem/MypageLessonItem.tsx
  src/pages/mypage/components/MypageLessonItem/mypageLessonItem.css.ts
  src/pages/mypage/components/TabWrapper/components/StudentContent/StudentContent.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/components/MenuButton/MenuButton.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/TeacherContent.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/TeacherLessons/TeacherLessons.tsx
  src/pages/mypage/components/mypageReservation/mypageReservation.css.ts
  src/pages/mypage/components/mypageReservationDetail/mypageReservationDetail.css.ts
  src/pages/mypage/constants/link.ts
  src/pages/mypage/constants/myPageList.ts
Labels: 🪄 Refactor, 희선

#448 [!HOTFIX] invalidatequeries및 검색 디바운스 시간 변경
  src/pages/instructor/classRegister/ClassRegister.tsx
  src/pages/instructor/classRegister/apis/queries.ts
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/instructorRegister/components/CareerSection/CareerSection.tsx
  src/pages/search/Search.tsx
  src/shared/apis/queries.ts
Labels: 🔧 Fix, 🪄 Refactor

#454 [Fix] 검색 페이지 url 히스토리 수정
  src/pages/search/Search.tsx
  src/pages/search/hooks/useTabNavigation.ts
Labels: 🪄 Refactor, 건휘

#453 [Refactor] sp2 마이페이지-강사 / 홈 추가 qa사항 반영
  src/pages/home/components/Footer/Footer.tsx
  src/pages/home/components/LessonItem/LessonItem.tsx
  src/pages/home/components/LessonItem/lessonItem.css.ts
  src/pages/mypage/components/TabWrapper/components/TeacherContent/components/ToolTip/ToolTip.tsx
  src/shared/utils/dateCalculate.ts
Labels: 🪄 Refactor, 규홍

#447 [Refactor] 클래스, 댄서 상세 뷰 웹 QA 반영
  src/pages/class/components/TabWrapper/TabWrapper.tsx
  src/pages/dancer/components/TabWrapper/TabWrapper.tsx
  src/shared/components/Tab/TabButton.tsx
  src/shared/components/Tab/TabList.tsx
  src/shared/components/Tab/TabPanel.tsx
  src/shared/components/Tab/TabRoot.tsx
  src/shared/components/Tab/index.css.ts
  src/shared/constants/index.tsx
Labels: 🪄 Refactor, 수정

#455 [Refactor] 2차 QA 수정 반영
  src/pages/editProfiles/components/FormField/FormField.tsx
  src/pages/editProfiles/components/ProfileForm/ProfileForm.tsx
  src/pages/editProfiles/constants/validationMessage.ts
  src/pages/editProfiles/schema/profileSchema.ts
  src/pages/editProfiles/utils/inputUtils.ts
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/instructorRegister/components/ImageUploadSection/ImageUploadSection.tsx
  src/pages/instructorRegister/instructorRegister.css.ts
  src/pages/mypage/components/TabWrapper/components/StudentContent/StudentContent.tsx
  src/pages/mypage/components/TabWrapper/components/StudentContent/studentContent.css.ts
  src/shared/components/Input/Input.tsx
Labels: 🪄 Refactor, 희선

#459 [!HOTFIX] SP2 2차 QA 수정 사항 반영 (강사 수정, 마이페이지)
  src/App.tsx
  src/pages/editProfiles/api/queries.ts
  src/pages/editProfiles/components/ProfileForm/ProfileForm.tsx
  src/pages/instructor/classDetail/apis/axios.ts
  src/pages/instructor/classList/apis/axios.ts
  src/pages/instructor/classRegister/apis/queries.ts
  src/pages/instructorRegister/InstructorRegister.tsx
  src/pages/instructorRegister/instructorRegister.css.ts
  src/pages/mypage/apis/axios.ts
  src/pages/mypage/apis/queries.ts
  src/pages/mypage/components/TabWrapper/TabWrapper.tsx
  src/pages/mypage/components/TabWrapper/components/TeacherContent/teacherContent.css.ts
  src/pages/search/Search.tsx
  src/pages/search/components/SearchBar/SearchBar.tsx
  src/pages/search/components/SearchBar/searchBar.css.ts
  src/pages/search/components/SearchHeader/searchHeader.css.ts
  src/pages/search/hooks/useTabNavigation.ts
  src/pages/search/search.css.ts
  src/routes/routesConfig.ts
  src/shared/apis/interceptor.ts
  src/shared/components/Toast/Toast.tsx
  src/shared/constants/apiURL.ts
  src/shared/constants/queryKey.ts
  src/shared/hooks/useTabNavigation.ts
  src/shared/styles/global.css.ts
Labels: 🪄 Refactor, 진혁

#464 [design] 클래스 신청 내역 페이지 내 flexDirection 추가
  src/pages/mypage/components/mypageReservation/MypageReservation.tsx
  src/shared/components/ClassCard/ClassCard.tsx
Labels: 🎨 Design, 희선

#462 [Refactor] 헤더 로고 및 에러 페이지 버튼 하단 고정
  src/pages/error/Error.tsx
  src/pages/error/error.css.ts
  src/pages/instructor/classRegisterCompletion/ClassRegisterCompletion.tsx
  src/pages/instructor/classRegisterCompletion/classRegisterCompletion.css.ts
  src/pages/instructorRegisterCompletion/InstructorRegisterCompletion.tsx
  src/pages/instructorRegisterCompletion/instructorRegisterCompletion.css.ts
  src/pages/login/Login.tsx
  src/pages/login/login.css.ts
  src/pages/onboarding/components/OnboardingHeader/OnboardingHeader.tsx
  src/pages/reservation/components/TossPayments/Success/Success.tsx
  src/pages/reservation/components/TossPayments/tossPayments.css.ts
  src/shared/components/Completion/Completion.tsx
  src/shared/components/Completion/completion.css.ts
Labels: 🪄 Refactor, 수정

#465 [Feat] Auto labeling & Auto Assignee
  .github/workflows/labeler.yml
Labels: 🛠️ Feature, 희선
